{#
   *  @uses featured_page.twig
   *  @required pages (array)
   *
#}

<div class="grid">
   <div class="grid__100-of-100 grid-mobile grid-mobile--col grid-tablet grid-tablet--col grid-desktop grid-desktop--row">

      <div class="grid-desktop__40-of-100 grid-tablet__100-of-100 grid-mobile__100-of-100">

         {% for page in featured_pages|slice(0, 1) %}
               {% include '_app/_molecules/featured-page/featured-page--vert.twig' with { page: page, icon_size: 'lg' } %}
         {% endfor %}

      </div>
      <div class="grid-desktop__60-of-100 grid-tablet__100-of-100 grid-mobile__100-of-100">

         {% for page in featured_pages|slice(1, 2) %}
            {% include '_app/_molecules/featured-page/featured-page.twig' with { page: page, icon_size: 'md' } %}
         {% endfor %}

      </div>
   </div>

</div>
