{% extends ajax.method == true ? '_templates/ajax.twig': 'project_fps/_templates/body.twig' %}

{% block body %}

   {% include 'project_fps/_molecules/content/block--page-banner.twig' %}

   <div class="wrap">

      {% block layout %}{% endblock %}

   </div>

{% endblock body %}
