{% extends 'project_fps/_templates/body.twig' %}

{% set column_1_size = '35' %}
{% set column_2_size = '65' %}

{% block body %}

   {% include 'project_fps/_molecules/content/block--page-banner.twig' %}

   <div class="wrap">
      <div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
         <div class="grid__100-of-100">
            {% block column_before %}

            {% endblock %}
         </div>
         <div class="grid__100-of-100">
            <div class="grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-xlg-right
               grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-rg-right
               grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-rg-bottom">
               <div class="grid-desktop__{{column_1_size}}-of-100
               grid-tablet__{{column_1_size}}-of-100
               grid-mobile__100-of-100">

                  {% block column_1 %}

                  {% endblock %}

               </div>
               <div class="grid-desktop__{{column_2_size}}-of-100
               grid-tablet__{{column_2_size}}-of-100
               grid-mobile__100-of-100">

                  {% block column_2 %}

                  {% endblock %}

               </div>
            </div>
         </div>
      </div>
   </div>

{% endblock body %}
