{#  content header  #}

{% import 'macros.twig' as mcro %}

<div class="content-header">
   <div class="wrap--md">
      {% include '_molecules/heading--prefix/heading--prefix.twig' with { icon: 'heading-prefix', title: post.title } %}
      <div class="typography">
         {{ mcro.createHTMLTag('h2', {}, [{block: 'h3'}],  subtitle) }}
      </div>
   </div>
</div>
