%icon {
  display: block;
  margin: auto;
  &--xs {
    max-height: 20px;
  }
  &--sm {
    width: 60px;
  }
  &--md {

  }
  &--lg {

  }
}

.icon { @extend %icon; }
.icon--xs { @extend %icon--xs; }
.icon--sm { @extend %icon--sm; }
