{% extends '_app/_templates/app.twig' %}

   {% block app %}

      {% import 'macros.twig' as mcro %}

      <section class="intro">
         {% include '_organisms/intro/intro.twig' %}
      </section>

      <section class="newest-project">
         {% include '_molecules/heading--prefix/heading--prefix.twig' with { icon: 'heading-prefix', title: 'Newest Project' } %}
         {% include '_organisms/newest-project/newest-project.twig' %}
      </section>

      <section class="photography">
         {% include '_molecules/heading--prefix/heading--prefix.twig' with { icon: 'heading-prefix', title: 'Photography' } %}
         <div class="wrap--rg">
            {% include '_organisms/gallery/gallery.twig' with { images: instagram } %}
         </div>
      </section>

   {% endblock %}
