// .hamburger {
//     top: 60px;
//     right:25px;
//     &.hamburger--active {
//         &:after {
//             opacity: 1;
//         }
//     }
//     &:after {
//         // @extend %pseudo;
//         // position: fixed;
//         // background: $dainTree;
//         // opacity: 0;
//     }
// }


%btn--hamburger {
    z-index: 9999;
    width: 75px; // 60
    height: 30px;
    padding-left: 35px;
    color: $white;
    fill: $white;
    @include portable() {
        position: absolute;
    };
    @include tablet(){
        right: 33px;
        top: 60px;
    };
    @include mobile() {
        right: 20px;
        top: 22px;
    }
    span {
        position: absolute;
        font-size: rem($anchor-size);
        line-height: rem(30);
    }
    %btn__text-open {
        opacity: 1;
    }
    %btn__text-close {
        opacity: 0;
    }
}

/*----------------------------------------------
    BLOCK
----------------------------------------------*/

.btn--hamburger {
    @extend %btn--hamburger;
}

/*----------------------------------------------
    ELEMENT
----------------------------------------------*/

.btn__text-open {
    @extend %btn__text-open;
}
.btn__text-close {
    @extend %btn__text-close;
}

/*----------------------------------------------
    MODIFIER
----------------------------------------------*/

.btn--active {
    @extend %btn--active;
}
