.block--upsdellred,
.block--about-us {
    .btn--primary:hover {
        color: $upsdellRed;
        fill: $upsdellRed;
    }
}

.block--tomthumb {
    .btn--primary:hover {
        color: $tomThumb;
        fill: $tomThumb;
    }
}

.block--tahitigold {
    .btn--primary:hover {
        color: $tahitiGold;
        fill: $tahitiGold;
    }
}

.block--daintree, .daintree {
    .btn--primary:hover {
        color: $dainTree;
        fill: $dainTree;
    }
}

.block--danube, .danube {
    .btn--primary:hover {
        color: $danube;
        fill: $danube;
    }
}

.btn--red {
    color: $white;
    background-color: $persianRed;
    &:hover {
        background-color: $upsdellRed;
    }
}

.btn--danube {
    color: $white;
    background-color: $danube;
    &:hover {
        background-color: $lochmara;
    }
}

// .btn--daintree {
//     background-color: $dainTree;
//     &:hover {
//         background-color: $danube;
//     }
// }


.btn--white {
    background-color:$white;
    color: $magnesium;
}
