
<div class="wrap--break-sm">
   <div class="slideshow slideshow--short backstretch" style="background-image:url( {{ slideshow_img }} )" data-srcset="{{ post.thumbnail.src( 'title-banner-' ~ device ~ '-retina' ) }}">
      {% block slideshow__body %}
         <div class="wrap content">
            {% include '_atoms/content/heading.twig' with { size: 'h1', heading: breadcrumbs.0.anchor_text}  %}
         </div>
      {% endblock %}
   </div>
</div>
