
<div class="grid-tablet__25-of-100 grid-desktop__30-of-100">
   {% include 'project_fps/_molecules/content/block--title-link.twig' %}
</div>

<div class="grid-tablet__80-of-100 grid-desktop__70-of-100">
   <div class="feed__blog post post--{{post_type}}">
      {% include '_organisms/interface/feed-list.twig' with { bem: [
         { block: 'post', modifier: [post_type] }
      ]} %}
   </div>
</div>

{# block--upsdellred #}
