
<div class="post--{{post.post_type}}">
   <div class="grid grid--col grid--gutter grid--gutter-xlg-bottom">
      <div class="grid__100-of-100">

         {% include '_organisms/interface/breadcrumbs.twig' with { breadcrumb_icon: "icon-seperator" } %}

      </div>
      <div class="grid__100-of-100">

         {% if breadcrumbs|length > 1  %}

            {% include '_atoms/content/heading.twig' with { size: 'h1',
            heading: attribute(breadcrumbs, breadcrumbs|length - 1 ).anchor_text}  %}

         {% elseif post.parent.name and post.post_type == 'page'  %}

            {% include '_atoms/content/heading.twig' with { size: 'h1', heading: post.name}  %}

         {% elseif post.post_type != 'page' and post_type %}

            {% include '_atoms/content/heading.twig' with { size: 'h1', heading: post_type.labels.name}  %}

         {% else %}

            {% include '_atoms/content/heading.twig' with { size: 'h1', heading: post.post_title}  %}

         {% endif %}

      </div>
      <div class="grid__100-of-100"></div>
   </div>

</div>
