
{% embed '_molecules/content/block.twig' with { bem: [ {block: 'dark ' ~ post_type ~ ' block--danube'} ] } %}
   {% block body %}

   <div class="grid-mobile grid-mobile--col
   grid-tablet grid-tablet--row
   grid-desktop grid-desktop--row">
      <div class="heading-link-block--twitter grid-desktop__25-of-100 grid-tablet__40-of-100">

         <div class="grid-mobile">
            <div class="heading-link-block__heading grid-mobile__50-of-100">
               <h2> {{title}} </h2>
            </div>
            <div class="heading-link-block__link grid-mobile__50-of-100 grid-mobile__50-of-100">
               {% include '_atoms/interface/button.twig' with {
                  bem : [
                     { block: 'btn', modifier: ['naked-after'] },
                     { block: 'line-below-hover' }
                  ],
                  icon: 'icon-arrow',
               } %}
            </div>
         </div>

      </div>
      <div class="grid-desktop__75-of-100 grid-tablet__60-of-100">
         {# feed #}

         {% include '_organisms/interface/tweets.twig' %}

      </div>
   </div>

   {% endblock %}
{% endembed %}
