
{% embed '_molecules/content/block.twig' with { bem: [ { block: 'block', modifier: [post_type] }, {block: 'dark'}, {block: 'heading-link-block'}] } %}
   {% block body %}

      <div class="grid-mobile">
         <div class="grid-mobile__50-of-100 heading-link-block__heading">
            <h2> {{title}} </h2>
         </div>
         <div class="grid-mobile__50-of-100 grid-mobile__50-of-100 heading-link-block__link">
            {% include '_atoms/interface/button.twig' with {
               bem : [
                  { block: 'btn', modifier: ['naked-after'] },
                  { block: 'line-below-hover' }
               ],
               icon: 'icon-arrow',
            } %}
         </div>
      </div>

   {% endblock %}
{% endembed %}
