<div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
   <div class="grid__100-of-100">

      {# {% embed '_atoms/content/anchor.twig' with { anchor_link: 'http://maps.google.com/?q=' ~ item.address.lines|join(',') } %}
         {% block link_block %}

         {% endblock %}
      {% endembed %} #}


         {% for address in item.address %}
            {% include '_atoms/content/list--short-address.twig' with { address: address.lines } %}
         {% endfor %}




   </div>
   <div class="grid__100-of-100">

      <div class="address">
         {% if item.telephone is not empty and item.telephone is defined %}
            <div class="address__line">
                  Tel: {% include '_atoms/content/anchor.twig' with { bem: [{block: 'anchor--primary'}], anchor_link: 'tel:' ~ item.telephone, anchor_text: item.telephone } %}
            </div>
         {% endif %}
         {% if item.fax is not empty and item.fax is defined %}
            <div class="address__line">
                  Fax: {{ item.fax }}
            </div>
         {% endif %}
         {% if item.email is not empty and item.email is defined %}
            <div class="address__line">
                  Email: {% include '_atoms/content/anchor.twig' with { bem: [{block: 'anchor--primary'}], anchor_link: 'mailto:' ~ item.email, anchor_text: item.email } %}
            </div>
         {% endif %}
         {% if item.website is not empty and item.website is defined %}
            <div class="address__line">
                  Website: {% include '_atoms/content/anchor.twig' with { bem: [{block: 'anchor--primary'}], anchor_link: 'http://' ~ item.website,
                  anchor_text: item.website } %}
            </div>
         {% endif %}
      </div>

   </div>
</div>
