<div class="grid grid--col grid--gutter grid--gutter-rg-bottom">

   <div class="grid__100-of-100">
      {% block paginated %}

         

      {% endblock %}
   </div>
   <div class="grid__100-of-100">
         {% include '_organisms/interface/simple-pagination.twig' %}
   </div>

</div>
