{# _pages/single/post.twig #}

{#
   Single Post Page
   @param {Post Object} post
#}

{# Parameters #}
{# {% set postPostObj = post ?? null %} #}

{# Variables #}
{% set postBem = [{ block: 'post'}] %}

{# Output #}
{% extends '_app/_templates/page.twig' %}

   {% block page %}

      {% import 'macros.twig' as mcro %}

      {% set postInnerHTML %}

         <div class="typography">

            {{ appPost.content }}

            {% include '_organisms/terms/terms.twig' with {
               terms: appPost.terms,
               postObj: postObj,
               taxObj: taxObj
            } %}

         </div>

      {% endset %}

      {{ mcro.createHTMLTag( 'div', postAttrs, postBem, postInnerHTML ) }}

   {% endblock %}
