#left-col {
    
    ul {
        list-style-type: none;
    }

    > ul {
        
        li {
            display: block;
            padding-bottom: 8px;
            color: $dark;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $bold;
            
            /* account for weird structure of widget menu */
            ul
            {
                padding: 8px;
            }

            
            &.page_item {padding-left: 4px;}
            
            &.widget-container {
                
                h2 {
                    color: $dark;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $bold;
                    font-weight: 100;
                    margin: 0!important;
                    margin-top: 10px!important;
                }
            }
            
            a {
                color: $dark; 
                text-decoration: none;            
                &:hover {color: $lightblue;}
            }
            
           &.current_page_item > a, &.active > a {color: $lightblue;}
            
        }
        
        /* account for weird structure of widget menu */
        ul {
            padding: 0 8px 8px 8px;
            
            li {
                padding-bottom: 4px;
                font-weight: 100;
                
                a {
                    font-weight: 100;
                    text-transform: none;
                    font-family: $lightbold;
                }
            }
        }

    }
}



        
         
         .foll h2#follow {
            color: $dark;
        font-size: 20px;
        font-family: $bold;
        padding-bottom: 24px;
        font-weight: 100;
             background: url(../images/follow_header.jpg) no-repeat;
            width: 202px;
             height: 90px;
             padding: 20px;
             @extend %boxing;
            color: #9bc0e1;
            padding-right: 100px;
            margin-top: 24px;
             -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
             margin-bottom: 20px;
         }
  


aside {
    
    a {
        color: $darkerblue;
        text-decoration: none;
        
        &:hover {color: $lightblue;}
    }

     h2 {
        color: $dark;
        font-size: 20px;
        font-family: $bold;
        padding-bottom: 24px;
        font-weight: 100;
         
         &#follow {
            
             background: url(../images/follow_header.jpg) no-repeat;
             width: 100%;
             height: 90px;
             padding: 20px;
             @extend %boxing;
            color: #9bc0e1;
            padding-right: 100px;
            margin-top: 24px;
             -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
             margin-bottom: 20px;
         }
    }
    
    > div {
        padding-bottom: 15px;
        
        .search {
            
            br {display: none;}
            
            label {
                padding-bottom: 8px;
                display: block;
            }
            
              ::-webkit-input-placeholder { color: $bluegrey!important;}
            :-moz-placeholder { color: $bluegrey!important;}
            :-ms-input-placeholder { color: $bluegrey!important;}
            
            input[type="text"] {
                
               padding-left: 8px;
                border: 1px solid #9bc0e1;
                appearance: none;
                -webkit-appearance: none;
                background-color: white;
                height: 24px;
                font-style: italic;
                width: 100%;
                font-size: 11px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
                border-radius: 0px;
               
                
            }
            
            input[type="submit"] {
                background-color: #717171;
                @include border-radius(3px);
                color: white;
                padding: 8px 12px;
                padding-right: 26px;
                display: block;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 11px;
                font-family: $text;
                background-image: url(../images/arrow.png);
                @include size(8px);
                background-position: 90% center;
                background-repeat: no-repeat;
                cursor: pointer;
                width: 140px;
                text-align: left;
                
                &:hover {background-color: $lightblue;}
              
                
            }
            
             input[name="unsubscribe"] {
                background-color: #c6c6c6;
                 position: relative;
                 top:  -10px;
             }
        }
    }
    
    img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.page-id-5395 {
    
    input[name="unsubscribe"] {
        background-color: #c6c6c6;
       
     }
    
     input[type="submit"] {
        background-color: #717171;
        @include border-radius(3px);
        color: white;
        padding: 8px 12px;
        padding-right: 26px;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $text;
        background-image: url(../images/arrow.png);
        @include size(8px);
        background-position: 90% center;
        background-repeat: no-repeat;
        cursor: pointer;
        width: 140px;
        text-align: left;

        &:hover {background-color: $lightblue;}
         
         @include screen(tablet) {display: inline-block;}


    }
    
    input[type="text"] {
                @extend %boxing;
        
               padding-left: 8px;
                border: 1px solid #9bc0e1;
                appearance: none;
                -webkit-appearance: none;
                background-color: white;
                height: 24px;
                font-style: italic;
                width: 100%;
                font-size: 11px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
                border-radius: 0px;
             margin-top: 4px;
        @include screen(tablet) {width: 273px;}
               
                
            }

}