%btn--primary
{
    @extend %btn--menu;
    font-size: 2.5rem;
    padding: 2rem 3rem;
    %btn__text
    {
        color: white;
    }
}

.btn--primary { @extend %btn--primary; }
.btn__text { @extend %btn__text; }
