
<div class="grid-desktop grid-desktop--row grid-desktop--continuous
            grid-tablet grid-tablet--row grid-tablet--continuous
            grid-mobile gird-mobile--col grid-mobile--continuous">

   {% block body %}

   {% endblock %}

</div>
