
<div class="grid-desktop grid-desktop-row grid--gutter grid-desktop--gutter-lg-right
            grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-lg-right
            grid-mobile gird-mobile--col grid--gutter grid-mobile--gutter-lg-bottom">

   {% block body %}

   {% endblock %}

</div>
