<div class="grid grid--col grid--gutter grid--gutter-rg-bottom">

   {% block loop %}
      <div class="grid__100-of-100">
         {% for item in seq %}


         {% endfor %}
      </div>
   {% endblock %}

</div>
