/**
* @desc         Base typography styles.
* @name         Typography
* @author
* @tested
* @requires     variables.scss
*/

/*---------------------------------------------*\
*    ADAPTIVE FONT
*
*   Root font size and what EM sizes will be
*   based on ( including widths )
/*---------------------------------------------*/

    @include adaptive-root-font-size();

    ::root { @extend %root; }

/*---------------------------------------------*\
*   Margins
/*---------------------------------------------*/

    .block_margins { margin: $block_margin 0 $block_margin; }

/*---------------------------------------------*\
*   Base Type
/*---------------------------------------------*/

    :root { @extend %root; }

    body {
        font-size: #{ $base-font-size }em;
        line-height: #{ $base-line-height }em;
        font-family: $base-font-family;
        // font-weight: $base-font-weight;
        color: $base-font-color;
    }

/*---------------------------------------------*\
*   Typographic Classes
/*---------------------------------------------*/

    .italic { font-style: italic; }
    .bold { font-family: map_get( $type_family, heading ); }
    .light { font-family: map_get( $type_family, body ); }
    .fixed { font-family: map_get($type_family, fixed); }
    .unordered-list { list-style-type: disc; }
    .ordered-list { list-style: decimal; }

/*---------------------------------------------*\
*   Headings
/*---------------------------------------------*/

    // @for $i from 1 through 6 {
    //     %h#{$i} {
    //         font-size: map_get($type_size, base) * ( map_get($type_size, scale) * $i );
    //         line-height: map_get($type_size, base) * ( map_get($type_size, scale) * ($i + 1 ) );
    //     }
    //     .h#{$i} {
    //         @extend %h#{$i};
    //     }
    // }
    %h3 {
        font-size: em(20);
        line-height: em(25);
    }

    %h2 {
        font-size: em(30);
        line-height: em(22);
    }

    %h1 {
        font-size: em(40);
        line-height: em(20);
    }


    .h3 { @extend %h3; }
    .h2 { @extend %h2; }
    .h1 { @extend %h1; }

/*---------------------------------------------*\
*   Other Sizes
/*---------------------------------------------*/

    %p {
        font-size: em(15);
        line-height: em(20);
    }

    %input {
        font-size: em(12);
        line-height: em(15);
    }

    %small {
        font-size: em(10);
        // line-height: em(12);
        line-height: 0;
    }

    p, .p { @extend %p; }
    input, .input { @extend %input; }
    small, .small { @extend %small; }

/*---------------------------------------------*\
*   Typesetting Content
/*---------------------------------------------*/

    %breaks {
        &:not( :first-child ) {
            margin: 2em 0 1.5em;
        }
    }

    .typography {
        i, em { @extend .italic; }
        b, strong { @extend .bold; }

        h1 {
            @extend %h1;
            @extend %breaks;
        }

        h2 {
            @extend %h2;
            @extend %breaks;
        }

        h3 {
            @extend %h3;
            @extend %breaks;
        }

        p, ul, ol, pre {
            @extend .block_margins;
        }

        ol { @extend .unordered-list; }
        ul { @extend .ordered-list; }

        pre, code { @extend .fixed; }
    }

/*---------------------------------------------*\
*    FONT FAMILY
/*---------------------------------------------*/

    %h1, %h2, %h3 { font-family: map_get($type_family, heading); }

    %p { font-family: map_get($type_family, body); }
