%event {
    .block {
        padding: 15px;
        & > * {
            margin:0;
        }
    }
    &%event--industry-event {
        .block {
            background-color: $equator;
        }
        %event__meta {
            * {
                color: $equator;
                font-family: $primary-font;
            }
        }
    }
    &%event--fps-meeting {
        .block {
            background-color: $darkPastelRed;
        }
        %event__meta {
            color: $darkPastelRed;
        }
    }
    %event__type {
        font-family: $primary-font
    }
}

%events__details {
    @include mobile() {
        order: 2;
    };
}

%events__calendar {
    @include mobile() {
        order: 1;
        margin-bottom: 30px;
    };
}

%events {
    position: relative;
    top: 0;
    &%events--navigate {
        animation: slide_away .3s ease-out forwards;
    }
    &%events--navigated {
        animation: slide_back .3s ease-out forwards;
    }
}

@include keyframes (slide_away) {
    100% {
        top: 100%;
    }
};
@include keyframes (slide_back) {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
};

.events {
    @extend %events;
}
.events--navigate {
    @extend %events--navigate;
}
.events--navigated {
    @extend %events--navigated;
}
.events__details { @extend %events__details; }
.events__calendar { @extend %events__calendar; }

.event {
    @extend %event;
}
.event__type { @extend %event__type; }
.event__meta {
    @extend %event__meta;
}
.event--industry-event {
    @extend %event--industry-event;
}
.event--fps-meeting {
    @extend %event--fps-meeting;
}
