// Mobile Header UI

%header--mobile-ui {
    @include mobile() {
        height: 75px;
    };
    %header__main {
        @include mobile() {
            @include flex-dir( column );
        };
        %header__content {

        }
        %header__action {
            @include mobile() {
                @include order(1);
                display: none;
            };
        }
        %header__navigation {
            @include tablet() {
                margin: 60px auto 0 0;
            }
            @include mobile() {
                margin: 60px auto 2.5em 0;
                margin-bottom: 2.5em !important;
            };
        }
    }
    @include mobile() {
        &%header--nav-open {
            %header__action {
                display: block;
            }
        }
    };
}

%header {
    @include padding-all(10, null, null, null);
    z-index: 10;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    @include portable() {
        background: $tiber;
    };
    .btn {
        color: $white;
        fill: $white;
    }
}

%header--nav-open {
    &%header--nav-open {
        // height: 100%;
        // background: $dainTree;
        position: fixed;
        z-index: 999;
        &:before {
            background-image:none;
        }
    };
}

%header--texture {
    &:before {
        @include desktop() {
           content:'';
           height: 130px;
           width: 100%;
           position: absolute;
           top: 0;
           z-index: -1;
           background-repeat: no-repeat;
           background-position: top center;
           background-size: 1260px;
           background-image: url( '../media/image/header-bg.jpg' );
       };
    }
}


// %header--minified {
//     %header__row--top {
//         @include portable() {
//             @include order(2);
//             @include flex-dir( column );
//             @include flex-just( flex-end );
//         }
//     }
//     %header__row--bottom {
//         @include portable() {
//             @include order(1);
//             @include flex-flow( column );
//         }
//     }
// }

/*----------------------------------------------
    BLOCK
----------------------------------------------*/

.header {
    @extend %header;
    @extend %header--texture;
    @extend %header--mobile-ui;
}


/*----------------------------------------------
    ELEMENT
----------------------------------------------*/

.header__main {
    @extend %header__main;
}

.header__content {
    // @extend %header__content;
}

.header__action {
    @extend %header__action;
}

.header__navigation {
    @extend %header__navigation;
}

/*----------------------------------------------
    MODIFIER
----------------------------------------------*/


// .navigation {
//     background-color: $dainTreeDark;
//     @include padding-all($top: 60, $remain: 15);
//     position: fixed;
//     width: 66%;
//     top:0;
//     right:0;
//     &:not(.navigation--open) {
//         display: none;
//     }
