
%member__name {
    color: $danube;
}

.member__name {
    @extend %member__name;
}


%post--member {
    %article__post {
        %article__image {
            position: relative;
            border: 2px solid $gainsboro;
            height: 100%;
            padding: 30px;
            %img {
                top: 0; bottom:0;
                left: 0; right: 0;
                width: 75%;
                height: auto;
                margin:auto;
                @include desktop() {
                    position: absolute;
                };
                @include tablet() {
                    position: absolute;
                };
                @include mobile() {
                    width: 40%;
                };

            }
        }
    }
}

.post--member { @extend %post--member; }
.article__post { @extend %article__post; }
.article__image { @extend %article__image; }
img { @extend %img; }
