/*---------------------------------------------------*\
*    Animations
\*---------------------------------------------------*/

    @include keyframes(slideInMarginDesktop)
    {
        0%
        {
            margin: 0;
        }
        100% {
            margin: 40px;
            overflow: auto;
        }
    };

    @include keyframes(slideInMargin)
    {
        0%
        {
            margin: 0;
        }
        100% {
            margin: 5px;
            overflow: auto;
        }
    };

    @include keyframes(fadeInMain)
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
            z-index: 20;
        }
    };

/*---------------------------------------------------*\
*    BEM
\*---------------------------------------------------*/
/*---------------------------------------------------*\
*    Relationships
\*---------------------------------------------------*/


%html
{
    background-color: $mercury;
    overflow-x: hidden;
}

a { display: block; }

%body
{
    margin: 0 !important;
}

%main
{
    @extend %wrap;
    position: relative;
    margin-top: 30em;
    @include mobile()
    {
        margin-top: 15em;
    };
    padding: 0 15px;
    @include desktop()
    {
        padding:0;
    }

    &--fade
    {
        opacity: 0;
        @include animation( .75s ease-in 2.2s fadeInMain forwards );
        &%main--ajax
        {
            animation-delay: 1s;
        }
    }
    // &--animation-show
    // {
    //     @include animation( 0.3s ease-in 2.2s fadeInMain forwards );
    //
    // }
    // &--animation-hide
    // {
    //     @include animation( ease-in 0.3s fade-out forwards );
    // }
}

html { @extend %html; }
body { @extend %body; }
main { @extend %main; }
