
<div class="blog-archive__results">
   <div class="grid grid--col grid--gutter-lg-bottom">
     <h2 class="blog-archive__matches"><span class="blog-archive__num-posts">{{ pagination.total }}</span> Matching articles found</h2>
     <div class="articles grid grid--col grid--gutter-md-bottom">

         {% include '_organisms/blog-archive-posts/blog-archive-posts.twig' %}

     </div>
   </div>
</div>
