
{% extends 'layouts/app.twig' %}

   {% block app %}

      <div class="grid grid--col grid--gutter-xlg-bottom">
         <div class="grid__100-of-100">

            <div class="grid-desktop grid-desktop--row grid-desktop--gutter-lg-right
            grid-tablet grid-tablet--col grid-tablet--gutter-lg-bottom
            grid-mobile grid-mobile--col grid-mobile--gutter-rg-bottom">
               <div class="grid-desktop__50-of-100">

                  {{ el.createHTMLTag('h3', {}, [{block:'h2'}], intro.heading) }}

               </div>
               <div class="page__intro grid-desktop__50-of-100">
                  {{ el.createHTMLTag('h3', {}, [{block:'h3'}], intro.content) }}
               </div>
            </div>

         </div>
         <div class="grid__100-of-100">
            <div class="grid-desktop grid-desktop--col grid-desktop--gutter-xlg-bottom
            grid-tablet grid-tablet--col grid-tablet--gutter-rg-bottom
            grid-mobile grid-mobile--col grid-mobile--gutter-rg-bottom">

                  {% for item in content_block %}

                     <div class="grid-desktop__100-of-100">
                        {% if loop.index is odd %}
                           {% include '_app/_molecules/block/block--image-content-reverse.twig' with { post: item } %}
                        {% else %}
                            {% include '_app/_molecules/block/block--image-content.twig' with { post: item } %}
                        {% endif %}

                     </div>

                  {% endfor %}

            </div>
         </div>

         {% if content_block_wide is defined and content_block_wide is iterable %}
            <div class="grid__100-of-100">

               {% include '_app/_molecules/block/block--image-content.twig' with { post: content_block_wide } %}

            </div>
         {% endif %}

      </div>

   {% endblock %}

   {% block after_app %}

      {{ sidebar__after_app }}

   {% endblock %}
