{% import 'bem.twig' as bemify %}
{% set classname = bemify.bem(bem) %}

<a href="{{ anchor_link }}" class="{{ classname }}" id="{{ id }}">
   {% block btn_block %}
      <span class="button__text"> {{ anchor_text }} </span>
   {% endblock %}

   {% if icon %}
      {% set bem = '' %}
      {% include '_atoms/media/svg.twig'  with { bem: icon_bem, icon: icon } %}
   {% endif %}

   {% if secondary_icon %}
      {% include '_atoms/media/svg.twig' with { bem: icon_2_bem, icon: secondary_icon } %}
   {% endif %}
</a>
