<input type="checkbox" id="hamburger-checkbox"/>
<label for="hamburger-checkbox">
	{% embed '_atoms/content/anchor.twig' with { icon: 'hamburger', bem: [ {block: 'btn', modifier: ['hamburger']} ], anchor_link: '#menu' } %}
		{% block link_block %}
			<span class="btn__text-open"> Menu </span>
			<span class="btn__text-close"> close </span>
			{% include '_atoms/interface/hamburger.twig' %}
		{% endblock %}
	{% endembed %}
</label>
