<div class="hamburger__net" id="hamburger__net"></div>
<div class="hamburger" id="hamburger">
	<div class="hamburger__layer"></div>
	<div class="hamburger__layer hamburger__layer--patty"></div>
	<div class="hamburger__layer"></div>
</div>
