%breadcrumbs {
  position: relative;
  %breadcrumb {
    position: relative;
    color: $black;
    h4 {
      display: inline;
    }
    &:last-child {
      h4 {
        font-weight: bold;
      }
    }
    &:not(:first-child) {
      padding-left: 60px;
      &:before {
        position: absolute;
        left: 15px;
        background-image: url('../assets/arrow-bc.png');
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        width: 15px;
        height: 40px;
      }
    }
  }

}

.breadcrumbs { @extend %breadcrumbs !optional; }
.breadcrumb { @extend %breadcrumb !optional; }
