%header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  padding: 15px 10px;
  z-index: 1000;
  > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0x;
    bottom: 0p;
    margin: auto;
    width: 80px;
  }
  &%header--tall {
    padding: 30px 10px 10px;
    h2 {
      margin: 0;
      color: $white;
    }
    > img {
      width: 110px;
    }
  }
  &%header--io {
    background-color: $green;
  }
  %navigation {
    position: relative;
    margin: 0;
    left: 20px;
    top: 0;
    bottom:0;
    .col {
      top: 0;
      bottom:0;
    }
  }
}

.header { @extend %header; }
.header--tall { @extend %header--tall; }
.header--io { @extend %header--io; }
.navigation { @extend %navigation; }
