%overview {
  border-bottom: 1px solid $grey;  
}

%quantity {
  > * {
    font-weight: bold;
  }
  h4 {
    font-size: 150px;
    line-height: 100px;
  }
}

%summary-options {
  margin-top:40px;
}

.overview { @extend %overview !optional; }
.quantity { @extend %quantity; }
.summary-options {  @extend %summary-options; }
