%tile {
  display:block;
  padding: 40px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 20px;
  %tile__content {
    p {
      font-size: 14px;
      color: $black;
    }
    position: relative;
  }
  img {
    height: 50px;
    width: auto;
    max-width: 60%;
  }
  p {
    margin: 0px;
  }
  %tile--campaign {
    &-nth-child(5) {
        margin-left: 8.33333%;
    }
  }
  &--sm {
    min-height: 160px;
  }
  &--lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &--centered {
    line-height: 75px;
  }
}

%tile-wrapper {
  margin: auto;
  width: 90%;
  padding:20px 0px;
  %tile-wrapper__header {
    margin-bottom: 20px;
    * {
      font-weight: bold;
    }
  }
  &--campaign {
    .col {
      width: 20%;
      // &:nth-child(6), &:first-child {
      //   margin-left: 8.33333%;
      // }
    }
  }
}

.tile { @extend %tile !optional; }
.tile__content { @extend %tile__content !optional; }
.tile-wrapper { @extend %tile-wrapper; }
.tile-wrapper__header { @extend %tile-wrapper__header; }
.tile-wrapper--campaign { @extend %tile-wrapper--campaign; }
.tile--lg { @extend %tile--lg; }
.tile--sm { @extend %tile--sm; }
.tile--centered { @extend %tile--centered; }

// .box li a, #overview-header a,
//  .listbrands li a {
// }
