%footer
{
    // desktop
    @include desktop(){
        height: 250px;
    }
    position: relative;

    %footer__container
    {
        @include desktop()
        {
            height: 100%;
            position: relative;
        };
        @extend %wrap;
        @extend %grid-desktop;
        @extend %grid-desktop--row;
        @extend %grid-tablet;
        @extend %grid-tablet--row;
        @extend %grid-mobile;
        @extend %grid-mobile--col;
        @extend %grid-mobile--gutter-md-bottom;

        @extend %flex--align-items-center;
        @extend %flex--just-space-between;
    }
    padding: 30px 20px 40px;
    background-color: $codGrey;

    %footer__column
    {
        @include desktop()
        {
            position: absolute;
            height: 100%;
        }
        @extend %grid;
        @extend %grid--col;
        @extend %flex--just-space-between;
        @include mobile()
        {
            text-align: center;
        };
    }

    %footer__info
    {
        @extend %footer__column;
        // desktop
        @include desktop(){
            left: 0;
        };
    }

    %footer__legal-terms
    {
        margin:0;
        @extend %footer__column;
        // desktop
        @include desktop()
        {
            right: 0;
            text-align: right;
        }
        @include tablet(){
            right: 0;
            text-align: right;
        }
        ;
        @include mobile()
        {
            text-align: center;
        };

        %footer__legal
        {
            @extend %grid--col;
        }

        %footer__terms
        {
            @extend %grid--col;
        }
    }
}

footer { @extend %footer; }
.footer__container { @extend %footer__container; }
.footer__info { @extend %footer__info; }
.footer__legal-terms { @extend %footer__legal-terms; }
.footer__legal { @extend %footer__legal; }
.footer__terms { @extend %footer__terms; }
