<nav class="menu">

   <div class="grid grid--col grid--gutter-lg-bottom">
      {# Loop through our menu items #}
      {% for item in menu.items %}

         {# Menu Item #}
         <div class="nav__item">

            {# event overlay #}
            {{ el.createHTMLTag('div', {}, [{ block: 'events-overlay' }], '' ) }}

            {# If has children then we want a checkbox and a span button #}
            {% if item.children %}

               {# sub-menu checkbox #}
               {{ el.createHTMLTag('input', { type: 'checkbox', name: 'nav__check--' ~ loop.index, id: 'nav__check--' ~ loop.index }, [{ block: 'nav__check' }], '') }}

               {# button label #}
               {% set button_label %}
                  {% include '_molecules/btn/btn.twig' with {
                     non_anchor: true,
                     bem :[
                        { block: 'btn', modifier: ['icon-after'] },
                        { block: 'nav__btn', modifier: ['has-children'] }
                     ],
                     attrs: { href: item.link },
                     texts: [ { text: item.title, bem : [{block: 'nav', element: 'btn-text'}, {block: 'h3'} ] } ],
                     icons: [
                        { icon: 'icon-arrow-right', bem :[ {block: 'icon', modifier : [ 'sm' ]} ] }
                     ]
                  } %}
               {% endset %}
               {{ el.createHTMLTag('label', { for: 'nav__check--' ~ loop.index }, [{ block: 'nav__label' }], button_label) }}

               {# sub menu #}


                  <div class="nav__list grid-desktop grid-desktop--col grid-desktop--continuous
                  grid-tablet grid-tablet--col grid-tablet--continuous
                  grid-mobile grid-mobile--col">

                     {% for item in item.children %}

                        <div class="nav__sub-item grid-desktop__100-of-100 grid-tablet__100-of-100 grid-mobile__100-of-100">

                           {# Sub-menu item anchor #}
                           {% set block_innner_html %}
                              <div class="grid-desktop grid-desktop--col
                              grid-tablet grid-tablet--col
                              grid-mobile grid-mobile--row flex--just-space-between">

                                 {% include '_atoms/icon/icon.twig' with { bem: [{ block: 'nav__icon' }], icon: 'icon-'~item.icon } %}
                                 {% include '_atoms/typography/typography.twig' with { tag: 'h3', text: item.title, bem : [ { block: 'nav', element: 'btn-text' } ] } %}

                              </div>
                           {% endset %}

                           {% set nav_block %}
                              {% include '_atoms/block/block.twig' with { bem: [{ block: 'nav', element: 'block', modifier: [item.colour] }],
                              innerHTML: block_innner_html } %}
                           {% endset %}

                           {{ el.createHTMLTag('a', {href: item.link}, [{ block: 'nav', element: 'btn' }], nav_block) }}

                        </div>

                     {% endfor %}

                  </div>


            {# No children? Phew. Regular anchor button coming right up! #}
            {% else %}

               {% include '_molecules/btn/btn.twig' with {
                  bem :[
                     { block: 'btn', modifier: ['icon-after'] },
                     { block: 'line-below-hover' },
                     { block: 'nav__btn'},
                  ],
                  attrs: { href: item.link },
                  texts: [ { text: item.title, bem : [{block: 'nav', element: 'btn-text'}, {block: 'h3'}] } ],
                  icons: [ { icon: 'icon-arrow-right', bem :[ {block: 'icon', modifier : [ 'sm' ]} ] } ]

               } %}

            {% endif %}

         </div> {# nav__item #}

      {% endfor %}
   </div>

</nav>
