%login {
  margin-top: 20%;
  position: absolute;
  bottom: 5%;
  margin: 0 10%;
  %login__btns {
    > * {
      margin-bottom: 20px;
    }
  }
}

.login { @extend %login; }
.login__btns { @extend %login__btns; }
