%nav
{
    &--terms
    {
        %nav__item
        {
            @extend %btn--menu;
            letter-spacing: 0.07em;
            font-size: 1.5em;
            text-transform: uppercase;
            &%svg {
              fill-rule: evenodd;
            }
        }
    }
}

.nav { @extend %nav };
.nav--terms { @extend %nav--terms };
.nav__item { @extend %nav__item };
svg { @extend %svg; }
