/*---------------------------------------------*\
*    form__field.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %form__field {
        padding-left:30px;
        outline: none;
        width: 100%;
        background-color: $white;
        // @include em($form__field-size);
    }

    %field {
        @extend %form__field;
        margin:0;
        line-height: 44px;
    }

    %textarea {
        @extend %form__field;
        padding-top: 20px;
        height: 200px;
        %form__field {
            width: 100%;
        }
    }

    %submit {
        width: 100%;
    }

    %form__field--small {
        height: 30px;
        line-height: 30px;
        // @include em($button-size);
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .form__field {
        @extend %field;
    }

    textarea {
        @extend %textarea;
    }

    .submit {
        @extend %submit;
    }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    input.form__field {
        @extend %field;
    }

    .form__field--small {
        @extend %form__field--small;
    }
