
{% extends 'template/global.twig' %}

{% block main %}
   {% include '_molecules/hamburger/hamburger--check.twig' %}
   {% include '_molecules/hamburger/hamburger.twig' %}

   {% embed ['_app/_organisms/header/header.twig', '_app/_organisms/header/header.twig'] %}
      {% block page__title %}

         <h1 class="h2"> {{post.get_field('sub_heading')}} </h1>

      {% endblock %}
   {% endembed %}

   {% include ['_app/_organisms/navigation/navigation.twig', '_organisms/navigation/navigation.twig' ] %}

   <main post_type="{{ post.post_type }}" page_id="{{ post.ID }}" parent_id="{{ function("wp_get_post_parent_id", post.id) }}">

         {% block app %}

         {% endblock %}

   </main>


   {% include ['_app/_organisms/footer/footer.twig', '_organisms/footer/footer.twig'] %}

{% endblock %}
