/*---------------------------------------------*\
*    button--small.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %wrap {
        z-index:1;
        // position: relative;
        margin: 0 auto;

        $pad: #{ map_deep_get( $layout, wrap, tablet, padding ) };
        @include padding-all(null, $pad, null, $pad);

        @include mobile() {
            $pad: #{ map_deep_get( $layout, wrap, mobile, padding ) };
            @include padding-all(null, $pad, null, $pad);
        };
    }


    @include mobile {
        %wrap {
             width: 100%;
             & > * {
                width: 100%;
             }
         }
    }

    @include tablet {
        %wrap {
            @include wrap-size( tablet );
            // @include flex-dir( column );
            // @include flex-flow( column );

            &--sm {
                $pad: #{ map_deep_get($layout, wrap, tablet, squash, sm) };
                @include padding-all(null, $pad, null, $pad);
            }
            &--md {
                $pad: #{ map_deep_get($layout, wrap, tablet, squash, md) };
                @include padding-all(null, $pad, null, $pad);
            }
            &--rg {
                $pad: #{ map_deep_get($layout, wrap, tablet, squash, rg) };
                @include padding-all(null, $pad, null, $pad);
            }
        }
    }

    @include desktop {
      // SIZE
        %wrap {
            @include wrap-size( desktop );
            // @include flex-dir( row );
            // @include flex-flow( row );

            &--sm {
                $pad: #{ map_deep_get($layout, wrap, desktop, squash, sm) };
                @include padding-all(null, $pad, null, $pad);
            }
            &--md {
                $pad: #{ map_deep_get($layout, wrap, desktop, squash, md) };
                @include padding-all(null, $pad, null, $pad);
            }
            &--rg {
                $pad: #{ map_deep_get($layout, wrap, desktop, squash, rg) };
                @include padding-all(null, $pad, null, $pad);
            }
        }
    }

    @include wrapper {
        %wrap {
            width: 100%;
        }
        %wrap--sm {
            @include padding-all(null, 150, null, 150);
        }
    };

    %wrap {
        &--break-sm {
            @include padding-all(null, null, $wrap-padding--sm, null);
        }
        &--break-rg {
            @include padding-all(null, null, $wrap-padding--rg, null);
        }
        &--break-md {
            @include padding-all(null, null, $wrap-padding--md, null);
        }
        &--break-lg {
            @include padding-all(null, null, $wrap-padding--lg, null);
        }
        &--break-xlg {
            @include padding-all(null, null, $wrap-padding--xlg, null);
        }
    }

    %wrap-tablet {
        @include tablet() {
            &%wrap {
                &--break-sm {
                    @include padding-all(null, null, $wrap-padding-tablet--sm, null);
                }
                &--break-rg {
                    @include padding-all(null, null, $wrap-padding-tablet--rg, null);
                }
                &--break-md {
                    @include padding-all(null, null, $wrap-padding-tablet--md, null);
                }
                &--break-lg {
                    @include padding-all(null, null, $wrap-padding-tablet--lg, null);
                }
                &--break-xlg {
                    @include padding-all(null, null, $wrap-padding-tablet--xlg, null);
                }
            }
        };
    }

    %wrap-mobile {
        @include mobile() {
            &%wrap {
                &--break-sm {
                    @include padding-all(null, null, $wrap-padding-mobile--sm, null);
                }
                &--break-rg {
                    @include padding-all(null, null, $wrap-padding-mobile--rg, null);
                }
                &--break-md {
                    @include padding-all(null, null, $wrap-padding-mobile--md, null);
                }
                &--break-lg {
                    @include padding-all(null, null, $wrap-padding-mobile--lg, null);
                }
                &--break-xlg {
                    @include padding-all(null, null, $wrap-padding-mobile--xlg, null);
                }
            }
        };
    }

    %alignleft {
        float: left;
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .wrap {
        @extend %wrap;
    }
    .wrap-tablet {
        @extend %wrap-tablet;
    }
    .wrap-mobile {
        @extend %wrap-mobile;
    }

    .alignleft { @extend %alignleft; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .wrap--sm {
        @extend %wrap--sm;
    }
    .wrap--md {
        @extend %wrap--md;
    }
    .wrap--rg {
        @extend %wrap--rg;
    }

    .wrap--break-sm {
        @extend %wrap--break-sm;
    }
    .wrap--break-rg {
        @extend %wrap--break-rg;
    }
    .wrap--break-md {
        @extend %wrap--break-md;
    }
    .wrap--break-lg {
        @extend %wrap--break-lg;
    }
    .wrap--break-xlg {
        @extend %wrap--break-xlg;
    }






/*----------------------------------------------
    NOT SURE IF IN USE
----------------------------------------------*/
// @include infinite {
//     .wrap--medium {
//         @include padding-all(null, 205, null, 205);
//     }
// };
