/**---------------------------------------------*\
* @desc         light and dark class name to modify siblings below.
* @name         Theme
* @author
* @tested
* @requires     variables.scss
*
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %theme {
        color: black;
    }

    %light {
        background-color: $white;
        color: $onLight;

    }

    %dark {
        background-color: $dark;

        color: $onDark;

    }

    %transparent {

        color: $onDark;

        %svg {
            fill: $white;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .light { @extend %light; }
    .transparent { @extend %transparent; }
    .dark { @extend %dark; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

.theme { @extend %theme; }
