{% import 'el.twig' as html %}

{% extends '_app/_templates/template-no-header.twig' %}

   {% block app %}

      <div class="grid grid--col grid--gutter-lg-bottom">
         <div class="grid grid-gutter-sm-bottom">
            <div class="grid__100-of-100 typography">
               {{ el.createHTMLTag( 'h1', {}, [{block: 'h2'}], post.post_title ) }}
            </div>
         </div>

         <div class="grid-desktop grid-desktop--row grid-desktop--gutter-lg-right
         grid-tablet grid-tablet--row grid-tablet--gutter-rg-bottom
         grid-mobile grid-mobile--gutter-rg-bottom
         ">
            <div class="grid-desktop__60-of-100 grid-tablet__60-of-100">
               <div class="page__title">
                     {{ el.createHTMLTag( 'h3', {}, [{block: 'h3'}], post.content ) }}
               </div>
            </div>
            <div class="grid-desktop__40-of-100 grid-tablet__40-of-100">

               {% embed 'template--contact.twig' %}
                  {% block form %}

                     {% embed 'component.twig' with { el: 'form', attrs: { action: '', method: 'post', name: 'contact', id: 'contact' } } %}
                        {% block component %}

                           <div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
                              <div class="grid__100-of-100">

                                 {% include 'component.twig' with { el:'label', bem: [{ block: 'form', element: 'message', modifier: ['error'] }], text: form.valid.getError('contact_name'), attrs : {  } } %}
                                 {% include 'component.twig' with { el: 'input', bem: [{ block: 'form', element: 'field' }],
                                    attrs : {
                                       type: 'text', name: 'contact_name', id: 'contact_name', placeholder: 'name', text: form.valid.getValue('contact_name')
                                    }
                                 } %}

                              </div>
                              <div class="grid__100-of-100">

                                 {% include 'component.twig' with { el:'label', bem: [{ block: 'form', element: 'role', modifier: ['error'] }], text: form.valid.getError('contact_role'), attrs : {  } } %}
                                 {% include 'component.twig' with { el: 'input', bem: [{ block: 'form', element: 'field' }],
                                    attrs : {
                                       type: 'text', name: 'contact_role', id: 'contact_role', placeholder: 'role', text: form.valid.getValue('contact_role')
                                    }
                                 } %}

                              </div>
                              <div class="grid__100-of-100">

                                 {% include 'component.twig' with { el:'label', block: [{ block: 'form', element: 'message', modifier: ['error'] }], text: form.valid.getError('contact_email') , attrs : {}  } %}
                                 {% include 'component.twig' with { el: 'input', bem: [{ block: 'form', element: 'field' }],
                                    attrs : {
                                       type: 'text', name: 'contact_email', id: 'contact_email', placeholder: 'Email', text: form.valid.getValue('contact_email')
                                    }
                                 } %}

                              </div>
                              <div class="grid__100-of-100">

                                 {% include 'component.twig' with { el:'label', block: [{ block: 'form', element: 'message', modifier: ['error'] }], text: form.valid.getError('contact_telephone'), attrs : { } } %}
                                 {% include 'component.twig' with { el: 'input', bem: [{ block: 'form', element: 'field' }],
                                    attrs : {
                                       type: 'text', name: 'contact_telephone', id: 'contact_telephone', placeholder: 'Telephone', text: form.valid.getValue('contact_telephone')
                                    }
                                 } %}

                              </div>
                              <div class="grid__100-of-100">

                                 <div class="grid grid--col flex--align-items-start">
                                       {{ html.createHTMLTag( 'input', { type: 'submit', name: 'submit', id: 'submit', value: 'join our network' }, [{ block: 'btn', modifier: ['submit'] }] ) }}
                                 </div>

                              </div>
                           </div>

                        {% endblock %}
                     {% endembed %}

                  {% endblock %}
               {% endembed %}

            </div>
         </div>
      </div>

   {% endblock %}
