/*---------------------------------------------*\
*    HEADER
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %header--start {
        height: 100vh;
        %header__head {
            margin-bottom: 20%;
        }

        %overlay {
            opacity: 0.25;
        }

        %header__page-sub-heading {
            font-size: em(60);
        }

        %header__page-heading {
            font-size: em(25);
        }
    }

    %header--small {
        height: em(250);
    }

    %header--finish
    {
        @include transition(height 0.75s ease);
        color: $dainTree;
        height: em(400);
        %header__head {
            @include transition(margin 0.75s ease);
            margin-bottom: 0;
        }
        %grid {
            @extend %flex--just-space-between;
        }
    }

    %header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 50px;

        %block, %wrap, %grid { height: 100%; }

        %header__head {
            width: 100%;
        }

        %header__page-sub-heading {
            @include transition(height 0.75s ease);
        }

        %header__page-heading {
            text-transform: lowercase;
            @include transition(height 0.75s ease);
        }

        %overlay {
            position: absolute;
            @include absolute();
            z-index: 1;
        }

        %block {
            z-index: 2;
        }

        &--turquoise
        {
            %overlay
            {
                background-color: rgba($turquoise, 0.9);
            }
        }
        &--pigmentGreen
        {
            %overlay
            {
                background-color: rgba($pigmentGreen, 0.9);
            }
        }
        &--flame
        {
            %overlay
            {
                background-color: rgba($flame, 0.9);
            }
        }
        &--start {
            @extend %header--start;
        }
        &--finish {
            @extend %header--finish;
        }
    }

    %header--blank {
        background-image: none;
        %overlay {
            background-color: transparent;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    header, .header { @extend %header; }
    .overlay { @extend %overlay; }
    .block { @extend %block; }
    .wrap { @extend %wrap; }
    .grid { @extend %grid; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .header__head { @extend %header__head; }
    .header__page-heading { @extend %header__page-heading; }
    .header__page-sub-heading { @extend %header__page-sub-heading; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .header--small {@extend %header--small;}
    .header--start {@extend %header--start;}
    .header--finish {@extend %header--finish;}

    .header--turquoise { @extend %header--turquoise; }
    .header--pigmentGreen { @extend %header--pigmentGreen; }
    .header--flame { @extend %header--flame; }
    .header--blank {@extend %header--blank;}
