

{% set headerInner %}

   {% import 'el.twig' as el %}

   <div class="overlay"></div>

   {% set innerHTML %}


         <div class="grid grid--col grid--gutter-xlg-bottom">
            <div class="header__head grid__100-of-100">

               <div class="grid grid--row">
                  <div class="grid__50-of-100">

                     {% block head__logo %}
                        {% include '_molecules/logo-link/logo-link.twig' %}
                     {% endblock %}

                  </div>
                  <div class="grid__50-of-100">

                     {% block head__right %}
                        {{ sidebar__header }}
                     {% endblock %}

                  </div>
               </div>

            </div>
            <div class="grid__75-of-100 page__title transparent">

               {% block page__title %}

                  {{ el.createHTMLTag( 'h1', {}, [ { block: 'p' }, { block: 'header', element: 'page-heading' }], post.title ) }}
                  {{ el.createHTMLTag( 'h2', {}, [ { block: 'h2' }, { block: 'header', element: 'page-sub-heading' }], post.sub_heading ) }}

               {% endblock %}

            </div>
         </div>

   {% endset %}

   {% include '_atoms/block/block.twig' %}

{% endset %}


{{ el.createHTMLTag('header', {style: 'background-image: url(' ~ banner_image ~ ');'},
 [{ block: 'header', modifier: ['start', colour] }, bem], headerInner) }}
