/*---------------------------------------------*\
*    reset.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    h1, h2, h3, h4, h5, h6, hgroup,
    ul, ol, dl, blockquote, p, address table,
    fieldset, figure, pre {
       margin:0;
    }

    %box-sizing {
      box-sizing: border-box;
      %box-sizing__el {
          box-sizing: inherit;
      }
    }

    %ul {
        padding:0;
        margin:0;
        %li {
            list-style: none;
        }
    }

    %image {
        width: 100%;
        height: auto;
        display: block;
    }

    %anchor {
        text-decoration:none;
        cursor:pointer;
        %images {
            border:none;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    html {
        @extend %box-sizing;
    }

    body, html {
      margin:0;
      overflow-x:hidden;
      // z-index:0;
    }

    ul, ol { @extend %ul; }
    li { @extend %li; }

    svg, img { @extend %image; }
    a { @extend %anchor; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    *, *:before, *:after {
        @extend %box-sizing__el;
    }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
