{# Base nav template #}

{% extends '_organisms/interface/primary-nav.twig' %}

{% block nav_content %}

<div class="grid grid--col grid--gutter-bottom wrap">

	{% for item in menu %}

		<div class="drop-down nav__drop-down">
			<div class="drop-down__event events-overlay"></div>

			{% if item.children %}

				{% include '_atoms/interface/input.twig' with {
					input_type: 'checkbox',
					input_name: 'nav__check' ~ loop.index,
					bem: [{block: 'nav__check'}]
				} %}

				{% embed '_atoms/interface/label.twig' with { for: 'nav__check' ~ loop.index, bem: [ {block: 'nav__label'}] } %}
					{% block content %}
						{% include '_atoms/interface/button_span.twig' with {
						 bem: [ { block: 'btn', modifier: ['icon-after'] },
						{ block: 'drop-down__button' }, { block: 'line-below-hover' },
						{ block: 'nav__btn'}, {block: 'drop-down__button--has-children'} ],
						 anchor_text: item.title, icon: 'icon-arrow' } %}
					{% endblock %}
				{% endembed %}



			{% else %}

				{% include '_atoms/interface/button.twig' with { bem: [ { block: 'btn', modifier: ['icon-after'] },
				{ block: 'line-below-hover' }, {block: 'nav__btn'}
				], anchor_link: item.link, anchor_text: item.title, icon: 'icon-arrow' } %}

			{% endif %}

			{% if item.children %}

				 <ul class="drop-down__list nav__list">
					 {% for child in item.children %}
						 <li class="drop-down__item nav__item">

							 {% include '_atoms/interface/button.twig' with { bem: [ { block: 'btn', modifier: ['naked'] }, { block: 'drop-down__button' }, { block: 'line-below-hover' },
							 {block: 'nav__btn'}],
							  anchor_link: child.link,
							  anchor_text: child.title } %}

						 </li>
					 {% endfor %}
				 </ul>

			{% endif %}

		</div>

	{% endfor %}

</div>

{% endblock %}
