
<div class="wrap wrap-tablet wrap-mobile grid grid--row content">
   <div class="wrap-block grid__50-of-100">

      {% include '_atoms/content/heading.twig' with {size:'h1', heading: "Find a Member" } %}

   </div>
   <div class="wrap-block grid__50-of-100 flex flex--just-end">

      {% include '_atoms/interface/button.twig' with {
         bem: [
            { block: 'btn', modifier: ['primary'] },
         ],
         anchor_link: '/members',
         anchor_text: 'login to memebers area',
         icon: 'icon-arrow' } %}

   </div>
</div>
