%article__body {
    color: $dainTree;
}

%article__pagination {
    %btn {
        fill: $dainTree;
    }
    %line-below-hover {
        &:after {
            border-width:2px;
            bottom:0;
        }
    }
}

.article__body {
    @extend %article__body;
}

%article__pagination {
    %btn {
        color: $dainTree;
    }
}

.article__pagination {
    @extend %article__pagination;
}
