/*---------------------------------------------*\
*    featured-page.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %featured-page--speed
    {
        @include transition(0.5s ease-out);
    }
    %featured-page--delay
    {
        @include transition-delay(0.45s);
    }
    %featured-page--animation
    {
        @extend %featured-page--speed;
        @extend %featured-page--delay;
        @include transform( translateY( 100vh ) );
    }
    %featured-page--neutral
    {
        @include transform( translateY( 0 ) );
    }

    %featured-page
    {
        overflow: hidden;
        position: relative;

        @include line-below( 'after', 5, $flame, 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55) );

        %featured-page__image
        {
            position: absolute;
            @include absolute();
            @include transition(0.75s ease);
        }
        %featured-page__overlay
        {
            @include transition(0.75s ease);
            @include absolute;
            background-color: rgba( $dainTree, 0.3);
            z-index: 1;
        }
        %featured-page__heading {
            text-transform: lowercase;
        }
        %featured-page__inner
        {
            // max-width: 600px;
            margin: auto;
        }
        %featured-page__preview
        {
            %featured-page__content
            {
                & > *
                {
                    @extend %featured-page--animation;
                    font-size: em(17.5);
                }
            }
        }
        display: block;
        background-repeat: no-repeat;
        background-size:cover;
        height: 50%;
        @include transform( translateY( 100vh ) );
        @include transition(0.75s ease);

        %featured-page__arrow
        {
            position: absolute;
            right: 35px;
            bottom: 35px;
            @extend %featured-page--animation;
            @include transition-delay( 0.45 + 0.2s );
        }

        &:hover
        {
            %featured-page__image
            {
                @include transform( scale(1.5) );
            }
            %featured-page__overlay
            {
                background-color: rgba( $dainTree, 0.5);
            }
            %featured-page__preview
            {
                %featured-page__content
                {
                    & > * {
                        @extend %featured-page--neutral;
                    }
                }
            }
            %featured-page__arrow
            {
                @extend %featured-page--neutral;
            }
            %featured-page__icon
            {
                @include transition(0.75s ease);
                opacity: 0;
            }
        }


        &:after
        {
            &%featured-page--turquoise
            {
                background-color: $turquoise;
            }
            &%featured-page--pigmentGreen
            {
                background-color: $pigmentGreen;
            }
            &%featured-page--flame
            {
                background-color: $flame;
            }
        }

        %block
        {
            z-index: 2;
            height: 100%;
        }
        %grid
        {
            height: 100%;
        }

        @for $i from 1 through 3
        {
            &:nth-child(#{$i})
            {
                @include transition-delay(0.6 + (0.2s * $i));
            }
        }

        /*---------------------------------------------*\
        *    MODIFIER
        /*---------------------------------------------*/

        &%featured-page--first
        {
            height: 100%;
            @include transition-delay(0.2s * 1);
            %featured-page__content {
                > * {
                    @extend %h3;
                    font-family: map-get($type_family, body);
                }
            }
        }
        &--show
        {
            @include transform( translateY( 0 ) );
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .featured-page { @extend %featured-page; }

    .overlay { @extend %overlay; }
    .block { @extend %block; }
    .grid { @extend %grid; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .featured-page__overlay { @extend %featured-page__overlay; }
    .featured-page__preview { @extend %featured-page__preview; }
    .featured-page__content { @extend %featured-page__content; }
    .featured-page__image { @extend %featured-page__image; }
    .featured-page__heading { @extend %featured-page__heading; }
    .featured-page__icon { @extend %featured-page__icon; }
    .featured-page__arrow { @extend %featured-page__arrow; }
    .featured-page__inner { @extend %featured-page__inner ; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .featured-page--first { @extend %featured-page--first; }
    .featured-page--show { @extend %featured-page--show; }

    .featured-page--turquoise { @extend %featured-page--turquoise; }
    .featured-page--pigmentGreen { @extend %featured-page--pigmentGreen; }
    .featured-page--flame { @extend %featured-page--flame; }
