@mixin adaptive_font( $min_font, $max_font, $line: 1.5 )
{
   font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_screen_width}px) / ( #{$max_screen_width} - #{$min_screen_width}) ) );

   line-height: calc( (#{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_screen_width}px) / ( #{$max_screen_width} - #{$min_screen_width}) ) ) * #{$line} );
}

@mixin adaptive-root-font-size() {
    @media (max-width: #{map_deep_get($type_scale, screen, min)}){
        %root {
            font-size: #{map_deep_get($type_scale, min)};
            line-height: #{ map_deep_get($type_scale, min) * map_deep_get($type_scale, scale) };
        }
    }

    @media (min-width: #{map_deep_get($type_scale, screen, min)}) and (max-width: #{map_deep_get($type_scale, screen, max)}){
        %root {
            @include adaptive_font( map_deep_get($type_scale, min), map_deep_get($type_scale, max), map_deep_get($type_scale, scale) );
        }
    }

    @media (min-width: #{map_deep_get($type_scale, screen, max)}) {
        %root {
            font-size: #{map_deep_get($type_scale, max)};
            line-height: #{map_deep_get($type_scale, max) * map_deep_get($type_scale, scale)};
        }
    }
}

@mixin em($font) {
  font-size: em($font);
}

@mixin line-height($line) {
    line-height: rem($line);
}

@mixin font( $name, $src, $hash ) {
  @font-face {
    font-family: $name;
    src: url('fonts/' + $src + '.eot');
    src: url('fonts/' + $src + '.eot?#iefix') format('embedded-opentype'),
         url('fonts/' + $src + '.woff') format('woff'),
         url('fonts/' + $src + '.ttf') format('truetype'),
         url('fonts/' + $src + '.svg#' + $hash ) format('svg');
    font-weight:normal;
    font-style:normal;
  }
}
