{# _pages/archive/post.twig #}

{#
   Archive Post Page
   @param {Post Object} post
#}

{# Parameters #}
{% set postPosts = posts ?? null %}

{# Variables #}
{# {% set archivePostBem = [{ block: 'posts', element: 'post', modifier: ['work'] }] %} #}
{% set archivePostPostsTemplate = '_molecules/work-preview/work-preview.twig' %}
{% set postArchiveBem = [{ block: 'archive' }] %}

{# Output #}
{% extends '_app/_templates/page.twig' %}

{% import 'macros.twig' as mcro %}

   {% block page %}

      {% set postArchiveHTML %}

         {% include '_organisms/posts/posts.twig' with {
            posts: postPosts,
            template: archivePostPostsTemplate,
            bem: ''
         } %}

         <div class="pagination">

         </div>

      {% endset %}

      {{ mcro.createHTMLTag( 'div', {}, postArchiveBem, postArchiveHTML ) }}

   {% endblock %}
