%related-posts {

  margin-left: -1.35em;
  margin-right: -1.35em;

  %related-posts__post {
    @extend %article--f3-ui;
    padding-left: 1.35em;
    padding-right: 1.35em;
    @include tablet() {
      &:nth-child(3) {
        display: none;
      }
    };
    @include mobile() {
      &:nth-child(2), &:nth-child(3) {
        display: none;
      }
    };
  }
}

.related-posts { @extend %related-posts; }
.related-posts__post { @extend %related-posts__post; }
