/*---------------------------------------------*\
*    field.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %field {
        padding-left:20px;
        outline: none;
        width: 100%;
        line-height: 48px;
        border: 0 none;
        background-color: $white;
        @include em($field-size);
    }

    %input {
        @extend %field;
        margin:0;
    }

    %textarea {
        @extend %field;
        padding-top: 20px;
        height: 200px;
        %field {
            width: 100%;
        }
    }

    %submit {
        width: 100%;
    }

    %field--small {
        height: 30px;
        line-height: 30px;
        @include em($button-size);
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .field {
        @extend %input;
    }

    textarea {
        @extend %textarea;
    }

    .submit {
        @extend %submit;
    }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    input.field {
        @extend %input;
    }

    .field--small {
        @extend %field--small;
    }
