/*---------------------------------------------*\
*    hamburger--buton.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %hamburger-button__checkbox {
        display: none;

        &:checked {
            ~ %hamburger-button__overlay {
                z-index: 250;
                opacity: 1;
            }
            ~ %header {

                @extend %hamburger--active;

                %hamburger__layer:nth-child(2) {
                    background:transparent;
                }

                %btn__text-open {
                    opacity: 0;
                }

                %btn__text-close {
                    opacity: 1;
                }

                @extend %header--nav-open;

                %nav--primary {
                    display: block;
                }

            }

        }

        &:not(:checked) {

            label {
                @extend %hamburger--inactive;
            }
        }

    }

    %hamburger-button__overlay {
        background-color: $tiber;
        z-index: -10 ;
        @include transition(opacity .3s ease);
        display: block;
        opacity: 0;
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .hamburger-button__checkbox {
        @extend %hamburger-button__checkbox;
    }
    .hamburger-button__overlay {
        @extend %hamburger-button__overlay;
    }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
