

   {% include '_atoms/media/svg.twig' with { icon: 'icon-lines', bem:[{block: 'svg--fill' }] } %}

   <div class="wrap wrap-tablet wrap-mobile wrap--rg wrap--break-xlg ">

      <div class="grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-lg-right
                  grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-lg-right
                  grid-mobile grid-mobile--col grid-mobile--gutter-lg-bottom">

         <div class="grid-desktop__50-of-100 grid-tablet__50-of-100">
            {{ home_find_member_1 }}
         </div>

         <div class="grid-desktop__50-of-100 grid-tablet__50-of-100">
            {{ home_find_member_2 }}
         </div>

      </div>

   </div>
