{% for item in post.get_field('multiple_docs') %}

   <div class="grid grid--col grid--gutter grid--gutter-lg-bottom">

      <div class="documents documents--{{ post.get_field('page_theme') }}">

         {# heading #}
         {% embed '_molecules/content/block.twig' with { bem: [{ block: 'block--light' }, {block: 'documents__header'}] } %}
            {% block body %}
               {% include '_atoms/content/heading.twig' with { size: 'h4', heading: item.documents_title, bem : '' } %}
            {% endblock %}
         {% endembed %}

         {# body #}
         {% embed '_molecules/content/block.twig' with { content: docs_title, bem: [ {block: 'documents__body'}] } %}
            {% block body %}
            <ul>
               {% for doc in item.documents %}
               <li>
                  {% set doc_name = doc.doc.name ~ ' (.' ~ doc.doc.url|slice( -4, 3) ~')' %}
                  {% include '_atoms/content/anchor.twig' with { anchor_text: doc_name , anchor_link: doc.doc.url  } %}
               </li>
               {% endfor %}
            </ul>
            {% endblock %}
         {% endembed %}

      </div>

   </div>

{% endfor %}
