{# news-blog.twig #}

<section class="news-blog light" id="news-blog">

   <div class="wrap wrap-tablet wrap-mobile wrap--break-rg">
      <div class="grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-md-bottom
      grid-tablet grid-tablet--col grid--gutter grid-tablet--gutter-md-bottom
      grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-md-right">

         <div class="grid-desktop__50-of-100">

            <div class="grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-md-bottom
            grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-md-right
            grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-md-right">

               {{feed_1}}

            </div>

         </div>

         <div class="grid-desktop__50-of-100">

            <div class="grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-md-bottom
            grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-md-right
            grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-md-right">

               {{feed_2}}

            </div>
         </div>
      </div>
   </div>

   <div class="wrap">
      <div class="grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-md-bottom
      grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-md-right
      grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-md-right">

         <div class="grid-tablet__70-of-100 grid-desktop__70-of-100">

            <div class="grid-mobile grid-mobile--col
            grid-tablet grid-tablet--row
            grid-desktop grid-desktop--row">

               {{feed_3}}

            </div>

         </div>

         <div class="grid-tablet__30-of-100 grid-desktop__30-of-100">

            {{feed_4}}

         </div>

      </div>
   </div>

</section>



{# feed.twig #}
