
{# molecules-logo-link #}
{# atoms-hamburger #}
{# molecules-search #}
{# atoms-button #}
{# molecules-primary-nav #}

<input type="checkbox" class="hamburger-button__checkbox" id="hamburger-button__checkbox"/>
<div class="events-overlay hamburger-button__overlay"></div>
<{% if mustard == true %}header{% else %}div{% endif %} class="header">

<div class="wrap">

   <div class="grid grid-desktop grid-desktop--row grid-tablet grid-tablet--row header__main grid-mobile grid-mobile--row">
      {% include '_molecules/media/logo-link.twig' with { bem: [{ block: 'grid__20-of-100' }], anchor_link: site.link } %}
      <div class="grid-desktop__80-of-100
      grid-tablet__80-of-100
      grid-mobile__100-of-100">

         <div class="header__content
         grid-desktop grid-desktop--col grid--gutter grid-desktop--gutter-rg-bottom
         grid-tablet--col grid--gutter grid-tablet--gutter-rg-bottom
         grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-lg-bottom">
            <div class="grid-desktop__100-of-100 grid-tablet__100-of-100 grid-mobile__100-of-100 header__action">

               <div class="grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-sm-right
               grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-sm-right
                flex--just-end grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-rg-bottom">

                  {% include '_molecules/interface/search.twig' with {
                  bem: [{block: 'search', modifier: ['small', 'site'] }],
                  action: '/search',
                  placeholder: 'search',
                  size: 'small',
                  id: 'search' } %}

                  <div class="header__interface grid grid--row grid--gutter grid--gutter-sm-right">
                     {% include '_atoms/interface/button.twig' with { bem: [ {block: 'btn', modifier: ['small', 'danube']} ], anchor_text: 'tools' , anchor_link: '/wp-admin' } %}
                     {% include '_atoms/interface/button.twig' with { bem: [ {block: 'btn', modifier: ['small', 'red']} ], anchor_text: 'members area' , anchor_link: '/members-area' } %}
                  </div>

               </div>

            </div>
            <div class="grid-desktop__100-of-100 grid-tablet__100-of-100 grid-mobile__100-of-100 header__navigation">

               <div class="grid-desktop grid-desktop--row flex--just-end">
                  <div class="grid-mobile grid-mobile--row grid-mobile--gutter-bottom grid-tablet grid-tablet--row grid-desktop grid-desktop--row flex--just-end">

                     <label for="hamburger-button__checkbox">
                        <span class="btn btn--hamburger">
                              <span class="btn__text-open"> Menu </span>
                              <span class="btn__text-close"> close </span>
                              {% include '_atoms/interface/hamburger.twig' %}
                        </span>
                     </label>

                     {% include 'project_fps/_molecules/interface/fps-primary-nav.twig' with { bem: [ {block: 'nav', modifier: ['primary'] } ], menu: primary_menu.items } %}


                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>

</div>

</{% if mustard == true %}header{% else %}div{% endif %}>
