{# intro.twig #}

<section class="intro light" id="intro">
   <div class="wrap wrap-tablet wrap-mobile wrap--break
   grid-desktop grid-desktop--row grid-desktop--gutter-md-right
   grid-tablet grid-tablet--col grid-tablet--gutter-rg-bottom
   grid-mobile grid-mobile--col grid-mobile--gutter-md-bottom

   ">
      <div class="wrap-block intro__left grid-desktop__30-of-100">
         <div class="intro__block grid-tablet grid-desktop--col grid-tablet--row grid-mobile--col flex--just-start">

            {{ home_intro_1 }}
            {{ home_intro_2 }}

         </div>
      </div>
      <div class="intro__right wrap-block grid-desktop__70-of-100 flex flex--col flex--align-items-end">

         {{ home_intro_3 }}

      </div>
   </div>
</section>
