{# find-member.twig #}

   <div class="wrap wrap-tablet wrap-mobile wrap--break-xlg content">
      <div class="grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-md-bottom
                  grid-tablet grid-tablet--col grid--gutter grid-tablet--gutter-md-bottom
                  grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-md-right">



               <div class="grid-desktop__50-of-100">
                  {% include 'project_fps/_molecules/interface/custom-select-search.twig' with {
                     label: fields.member_search.0.label,
                     select_title: fields.member_search.0.label,
                     select_name: 'member_search',
                     select_default: fields.member_search.0.default,
                     options: attribute( search_options, 'company' ),
                     anchor_text: fields.member_search.0.placeholder,
                     loop_index: loop.index,
                     val_attr: 'slug',
                     title_attr: 'name',
                     action: '/members/'

                   } %}
               </div>
               <div class="grid-desktop__50-of-100">
                  {% include 'project_fps/_molecules/interface/custom-select-search.twig' with {
                     label: fields.member_search.1.label,
                     select_title: fields.member_search.1.label,
                     select_name: 'member_search',
                     select_default: fields.member_search.1.default,
                     options: attribute( search_options, 'systems' ),
                     anchor_text: fields.member_search.1.placeholder,
                     loop_index: loop.index,
                     val_attr: 'slug',
                     title_attr: 'name',
                     action: '/member/system/'

                   } %}
               </div>

      </div>
   </div>
