
{# attribute( hero.0.image.sizes, image_size)

* background image backup
* caption

#}

<div class="slideshow slideshow--short backstretch" data-srcset="{{ post.thumbnail.src( 'title-banner-' ~ device ~ '-retina' ) }}">
   {% block slideshow__body %}
      {% for item in fields.hero %}
          {% if item.caption %}
            <div class="slideshow__item content {% if loop.first %} slideshow__item--active {% endif %}">
               <div class="slideshow__title">
                     <h1> {{ item.caption }} </h1>
               </div>
            </div>
         {% endif %}
      {% endfor %}

   {% endblock %}
</div>
