   <div class="wrap wrap-tablet wrap-mobile wrap--break-xlg grid grid--col grid--gutter-sm-bottom">
      <h2>{{title}}</h2>
      {% include 'project_fps/_organisms/content/tiles-thoughts.twig' with { posts: posts } %}
   </div>
