/*---------------------------------------------*\
*    button--wide.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %btn--wide {
        @extend %btn;
        padding-left: 34px;
        padding-right: 34px;
        width: 100%;
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .btn--wide {
        @extend %btn;
        padding-left: 34px;
        padding-right: 34px;
        width: 100%;
    }
