/*---------------------------------------------*\
*    button--icon.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
%btn
{
    &%btn--icon-above
    {
        @extend %btn--text;
        @include padding-all($top: 34);
        svg {
            top: 10px;
            margin: 0;
        }
    }

    &%btn--icon-after {
        @extend %btn--text;
        @include padding-all($right: 34);
        svg {
            right: 10px;
        }
    }

    &%btn--icon-before {
        @extend %btn--text;
        @include padding-all($left: 34);
        svg {
            left: 10px;
        }
    }

    &%btn--icon-hover {
        @include transition(background-color 300ms ease-out);
        &:hover svg {
            right: -24px;
        }
    }
}
/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .btn { @extend %btn; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .btn--icon-after { @extend %btn--icon-after; }
    .btn--icon-before { @extend %btn--icon-before; }
    .btn--icon-above { @extend %btn--icon-above; }
