
%custom-select {
    %custom-select__button {
        border-width: 2px;
        %button__text {
            color: $magnesium;
            text-transform: none;
            font-family:'Trade Gothic W01 Roman', sans-serif;
            font-size: 1em;
            &:hover {
                color: $magnesium;
            }
        }
    }
    %custom-select__list {
        background-color: $white;
        %custom-select__item {
            font-family:'Trade Gothic W01 Roman', sans-serif;
            font-size: 1em;
            color: $magnesium;
            background-color: $white;
            &:hover {
                background-color: rgba($danube,0.5);
                color: $white;
            }
            &.custom-select__item--selected {
                background-color: rgba($danube,0.75);
                color: $white;
            }
        }
    }
}
