.documents  {
    @extend %documents;
}

.documents__header {
    @extend %documents__header;
}

.documents__body {
    @extend %documents__body;
    a {
        @extend %documents__document;
    }
}

%documents {
    border-bottom: 5px solid $upsdellRed;
    %documents__header {
        background-image: url('../media/textures/docs-texture.png');
        * {
            margin: 0;
        }
    }
    %documents__body {
        background-color: $whitelilac;
        %documents__document {
            font-family: $primary-font;
            @include em($para-size);
            color: $dainTree;
            &:hover {
                color: $upsdellRed;
            }
        }
    }
}
