section.hero {
     &:before,
     &:after  {
        content:'';
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 175px;
        z-index: 1;
        width: 100%;
        position: absolute;
    }
    &:after  {
        background-image: url( ../media/textures/bottom-dark-grunge.png );
        bottom: 40px;
        height: 50%;
        background-size: 100%;
        background-position: bottom center;
    }
}
