
/*----------------------------------------------
    BLOCK
----------------------------------------------*/
/*----------------------------------------------
    ELEMENT
----------------------------------------------*/
/*----------------------------------------------
    MODIFIER
----------------------------------------------*/


%nav--secondary {
    .btn {
        font-size: #{ map-deep-get($type, font-size, primary_nav) / map-deep-get($type, font-size, base) }em;
        color: $dainTree;
        fill: $dainTree;
        margin: 0;
        padding:0;
        svg {
            @include transition(.5s all ease);
        }
    }
}

%row-navigation {
    %nav--secondary__drop-down {
        // @include flexbox();

        %nav__check {
            // &~%nav__list {
            //     animation:
            //         closeItem .45s ease-out forwards;
            // }
            &:checked {
                // & ~ %nav__label svg {
                //     opacity: 1;
                // }
                & ~ %nav__label svg {
                    @include transform(rotate(180deg));
                }
                & ~ %nav--secondary__list {
                    position: relative;
                    animation:
                        openItem .75s ease-out .75s forwards;
                }
            }
        }

        %nav--secondary__btn {
            &.btn--active {

            }
            &%has-children {
                padding-right: 35px;
            }
        }
    }
    %nav--secondary__list {
        position: relative;
        left: 20px;
        animation:
            closeItem .45s ease-out forwards;
    }
    %nav--secondary__item {
        &:first-child {
            padding-top:10px;
        }
    }
}


/*----------------------------------------------
    BLOCK
----------------------------------------------*/

.nav--secondary {
    @extend %nav--secondary;
    @extend %row-navigation;
}

/*----------------------------------------------
    ELEMENT
----------------------------------------------*/
.nav--secondary {
    .nav__drop-down {
        @extend %nav--secondary__drop-down;
    }
    .nav__list {
        @extend %nav--secondary__list;
    }
    .nav__item {
        @extend %nav--secondary__item;
    }
    .nav__btn {
        @extend %nav--secondary__btn;
    }
    .drop-down__button--has-children {
        @extend %has-children;
    }
}
/*----------------------------------------------
    MODIFIER
----------------------------------------------*/
