%newsletter {
    h4 {
        font-family: $primary-font;
    }
    %newsletter__btn {
        color: $white;
        background-color: $dainTree;
        &:hover {
            background-color: $danube;
        }
    }
}

.newsletter {
    @extend %newsletter;
}

.newsletter__btn {
    @extend %newsletter__btn;
}
