/*---------------------------------------------*\
*    anchor.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %video--block {
        @extend %video;
        &:after,
        &:before {
            @extend %pseudo;
            width: 100%;
            height: 150%;
            top: -7%;
            bottom: 0;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: 75%;
        }
        &:before {
            background-image: url(../../assets/media/textures/yellow-grunge.png);
            left: -15%;
        }
        &:after {
            background-image: url(../../assets/media/textures/grey-grunge.png);
            right: -40%;
        }
    }

    %video__playpause {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: auto;
        border: 0;
        top:0;bottom:0;
        left:0;right:0;
        outline: 0;
        background: transparent;
        cursor:pointer;
        @include transition(.5s opacity ease);

        %video__icon {
            transition:inherit;
            width: 120px;
            height: 120px;
            position: absolute;
            left:0; right:0;
            bottom:0; top:0;
            margin: auto;
            &--hover {
                opacity:0;
                &:hover {
                    opacity:1;
                }
            }
        }

        &--playing {
            opacity: 0;
        }

        %video__icon-text {
            font-size: rem($anchor-size);
            color: $white;
            text-transform: uppercase;
            width: 50px;
            height: 25px;
            z-index: 10;
        }
    }

    // %intro {
    //     %video--block {
    //         @include transform( translateY( 175px ) );
    //     }
    // }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .intro { @extend %intro; }
    .video--block { @extend %video--block; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .video__icon { @extend %video__icon; }
    .video__icon-text { @extend %video__icon-text; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .video__icon--hover { @extend %video__icon--hover; }
    .video__playpause--playing { @extend %video__playpause--playing; }
