//----------------------------------------------
//    # BASE
//----------------------------------------------
//----------------------------------------------
//    ## LAYOUT
//----------------------------------------------
//----------------------------------------------
//    ### WIDTH
//----------------------------------------------

    // media querie break points
    $tablet-width: 768;
    $desktop-width: 1024;


    // Most of the time the only wrap limit is on the
    // desktop smaller devices are 100%
    $layout : (
        wrap : (
            padding: 15,
            mobile: (
                width: 100%,
                padding: 15,
                squash: (
                    sm: 0
                )
            ),
            tablet: (
                width: 100%,
                padding: 25,
                squash: (
                    sm: 225,
                    md: 175,
                    rg: 25
                )
            ),
            desktop: (
                width: 1200,
                squash: (
                    sm: 300,
                    md: 225,
                    rg: 175
                )
            ),
            squash : (
                value: 50,
            )
        ),
    );

    $media : (
        width: (
            mobile: 0,
            tablet: 768,
            desktop: 1024
        )
    );

//----------------------------------------------
//    ### PADDING
//----------------------------------------------

    $padding: 30px;

//----------------------------------------------
//    WRAP BREAK
//----------------------------------------------

    $wrap-padding--sm: 30;
    $wrap-padding--rg: 50;
    $wrap-padding--md: 60;
    $wrap-padding--lg: 90;
    $wrap-padding--xlg: 120;

    $wrap-mobile-multiplier: 0.50;
    $wrap-tablet-multiplier: 0.75;

    $wrap-padding-tablet--sm: $wrap-padding--sm * $wrap-tablet-multiplier;
    $wrap-padding-tablet--rg: $wrap-padding--rg * $wrap-tablet-multiplier;
    $wrap-padding-tablet--md: $wrap-padding--md * $wrap-tablet-multiplier;
    $wrap-padding-tablet--lg: $wrap-padding--lg * $wrap-tablet-multiplier;
    $wrap-padding-tablet--xlg: $wrap-padding--xlg * $wrap-tablet-multiplier;

    $wrap-padding-mobile--sm: $wrap-padding--sm * $wrap-mobile-multiplier;
    $wrap-padding-mobile--rg: $wrap-padding--rg * $wrap-mobile-multiplier;
    $wrap-padding-mobile--md: $wrap-padding--md * $wrap-mobile-multiplier;
    $wrap-padding-mobile--lg: $wrap-padding--lg * $wrap-mobile-multiplier;
    $wrap-padding-mobile--xlg: $wrap-padding--xlg * $wrap-mobile-multiplier;

//----------------------------------------------
//    ### GUTTER
//----------------------------------------------

    $grid : (
        gutter : (
            sm : 10,
            rg : 20,
            md : 30,
            lg : 40,
            xlg : 50
        )
    );

//----------------------------------------------
//    ## TYPE
//----------------------------------------------

    $assets_dir: '../../assets';

    @import url('https://fonts.googleapis.com/css?family=Teko') ;

    // @include font( "Trade Gothic W01 Roman",  );

    @font-face{
        font-family:"Trade Gothic W01 Roman";
        src:url("../type/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix");
        src:url("../type/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("eot"),url("../type/7b555e94-d57a-415e-a36e-1b0c5d3b90d2.woff2") format("woff2"),url("../type/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff") format("woff"),url("../type/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf") format("truetype"),url("../type/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c") format("svg");
    }

    @font-face{
        font-family:"Trade Gothic W01 Bold";
        src:url("../type/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
        src:url("../type/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"),url("../type/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"),url("../type/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"),url("../type/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"),url("../type/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
    }

    $primary-font: 'Trade Gothic W01 Bold', sans-serif;
    $secondary-font: 'Trade Gothic W01 Roman', sans-serif;

    $acent-font: 'Teko';

    $break: 24px;

//----------------------------------------------
//    ### FONT-SCALE
//----------------------------------------------

    // These values represent the range of fon-tsize to apply
    // These values effect the base font-size, headings and other elements will scale proportionally
    // FONT SCALE WIDTH
    $min_screen_width: 360;
    $max_screen_width: 1024;
    $min-font: 12;
    $max-font: 16;


    // Add other variables in here.

    $type : (
        font-size : (
            base: 16,
            h1: 75,
            h2: 50,
            h3: 40,
            h4: 20,
            h5: 15,
            h6: 30,
            primary_nav: 20,
            button: 12.5,
        ),
        font-weight : (
            light: 100,
            regular: 400,
            bold: 600,
        )
    );

//----------------------------------------------
//    ### FONT-SIZE
//----------------------------------------------

    $h1-size: 75;
    $h2-size: 50;
    $h3-size: 40;
    $h4-size: 20;
    $h5-size: 15;
    $para-size: 17;
    $anchor-size: 15;
    $tiny-size: 10;
    $small-size: 14;
    $field-size: 15;
    $smaller-size: 12.5;
    $button-size: 12.5;
    $time-size: 12.5;

//----------------------------------------------
//    ### LINE-HEIGHT
//----------------------------------------------

    $root-line: 22;
    $h1-line: 50;
    $h2-line: 50;
    $h3-line: 40;
    $h4-line: 25;
    $h5-line: 20;
    $h6-line: 30;
    $para-line: 25;
    $anchor-line: 15;
    $tiny-line: 20;
    $small-line: 20;
    $smaller-line: 20;

/*---------------------------------------------*\
*    ICONS
/*---------------------------------------------*/

    $icon-w: 50px;
    $icon-h: 50px;
    $button-icon-w: 12px;
    $button-icon-h: 12px;
    $icon-color: grey;
    $button-border-color: grey;

/*---------------------------------------------*\
*    ANIMATIONS
/*---------------------------------------------*/

    $default_transition: '3s all ease';

@import "../modules/all";
