{# molecules-simple-pagination

breadcrumbs = array() of anchor_text, anchor_link
icon = name of icon

#}

{# is_category #}
{# is_search #}
{# is_day #}
{# is_month #}
{# is_year #}
{# is_single && !is__attachment #}
{# !is_single() && !is_page() && get_post_type() != ‘post’ && !is_404() #}
{# is_attachment() #}
{# is_page() && !$post->post_parent #}
{# is_tag() #}
{# is_author() #}
{# is_404() #}

<div class="grid grid--row grid--continuous">

	<div class="breadcrumbs">
		{% if breadcrumbs %}
			{% for item in breadcrumbs %}
				{% if item.anchor_text and item.anchor_link %}

					{% if loop.index > 1 %}
						{% include '_atoms/interface/button.twig' with {
							bem : [
								{ block: 'btn', modifier: ['naked-before'] },
								{ block: 'breadcrumbs__crumb' }
							],
							anchor_text: item.anchor_text,
							anchor_link: item.anchor_link,
							icon: breadcrumb_icon
						} %}

					{% else %}

						{% include '_atoms/interface/button.twig' with {
							bem : [
								{ block: 'btn', modifier: ['naked'] },
								{ block: 'breadcrumbs__crumb' }
							],
							anchor_text: item.anchor_text,
							anchor_link: item.anchor_link }
						%}

					{% endif %}

				{% endif %}
			{% endfor %}
		{% else %}

			{% if post_type %}
				{% include '_atoms/interface/button.twig' with {
					bem : [
						{ block: 'btn', modifier: ['naked'] },
						{ block: 'breadcrumbs__crumb' }
					],
					anchor_text: post_type.label,
					anchor_link: '#' }
				%}
			{% endif %}
	{% endif %}


	</div>

</div>
