{# footer nav #}

<nav class="nav">

   {% embed '_atoms/content/list.twig' with { items: footer_menu, bem: [ { block: 'grid grid--row grid--gutter grid--gutter-sm-right flex--just-center' } ], bem_item: [{block:"nav__item"}] } %}
      {% block list__item %}

         {% include '_atoms/content/anchor.twig' with { bem: [ { block:'nav__link' } ],
          anchor_text: item.title, anchor_link: item.link } %}

      {% endblock %}
   {% endembed %}

</nav>
