{# Base nav template #}

{% import 'bem.twig' as bemify %}
{% set classname = bemify.bem(bem) %}

<nav class="{{ classname }}">

	{% block nav_content %}

		<div class="grid-mobile grid-mobile--col grid-mobile--gutter-bottom
	grid-tablet grid-tablet--col grid--gutter grid-tablet--gutter-md-right
	grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-md-right">

	      {% for item in primary_menu.items %}

	         <div class="drop-down">

					{% if item.children %}
						{% set drop_down__button = 'drop-down__button' %}
					{% endif %}

						{% include '_atoms/interface/button.twig' with { bem: [{ block: 'btn', modifier: ['icon-after'] },
							{ block: drop_down__button }], anchor_link: item.link, anchor_text: item.title, icon: 'icon-arrow' } %}

	               {% if item.children %}

	                   <ul class="drop-down__list">
	                      {% for child in item.children %}
	                         <li class="drop-down__item">

										 {% include '_atoms/interface/button.twig' with { bem: [ { block: 'btn', modifier: ['naked'] }, { block: 'drop-down__button' }], anchor_link: child.link, anchor_text: child.title } %}

	                         </li>
	                      {% endfor %}
	                   </ul>

	               {% endif %}

	         </div>

	      {% endfor %}

		</div>

   {% endblock %}


</nav>
