<div class="twitter__tweet">
   {% for item in tweets %}
    <div class="tweet">
         <span class="tweet__hours small">{{item.time}}</span>
         <span class="small"> {{ item.tweet }} </p>
    </div>
   {% endfor  %}
</div>
