{#
#  @requires button.twig
#  @select-menu.twig
#}

<div class="custom-select">
   <div class="events-overlay custom-select__event"></div>
   {# only default hard-coded here #}

   {# js button #}
   {% include '_molecules/btn/btn.twig' with { attrs: { href: '#select' },
      bem: [{ block: 'btn', modifier: ['regular', 'wide', 'text'] }, { block: 'custom-select', element: 'button' }],
      texts: [ { text: 'Roles' } ],
      icons : [{ icon: 'icon-down-arrow', bem: [{block:'icon', modifier: ['sm']}] }],
      non_anchor: true } %}

   {# form select #}
   {% include '_atoms/select-menu/select-menu.twig' with {
      select_default: "Drop down..", attrs: select_attrs } %}
      {# search_options #}

</div>
