/*------------------------------------------
    COLORS
------------------------------------------*/

$upsdellRed : #AB1A25;
$darkPastelRed : #C33920;
$tahitiGold : #D97925;
$halfColonialWhite : #EFE7BE;
$springGreen: #efe7be;
$equator: #DAB857;

$tomThumb : #3F5B42;
$capeCod : #3A4340;
$darkJungleGreen : #1E1E20;

$sail : #A5CCEC;
$danube : #568EC1;
$dainTreeLight: #1A404F;
$dainTree : #002635;
$dainTreeDark: #00242d;
$tiber: #013440;

$emporer : #50474C;
$delta: #979792;
$magnesium : #B2B2B0;
$iron: #D8D8D7;
$gainsboro: #DDDDDD;
$almostWhite: #EDEDED;
$white: #fff;


/* states */
$persianRed : #D4352A;
$lochmara: #3265A0;
$default: $danube;

$montana: #3A3838;
$pohutukawa: #642229;
$korma: #7C5129;
$goBen: #7D7240;
$timberGreen: #334235;
$chembray: #415875;
$tango: #D77931;
$whitelilac: #E8E8E7;

$dark: $dainTree;
$light: $magnesium;

$bismark: #4e717a;
