/*++++++++++++++++++++++++++++++++++++++++++++
    PLACEHOLDERS
++++++++++++++++++++++++++++++++++++++++++++*/

%pseudo
{
  position: absolute;
  content: "";
}
%content-spacing
{
    h1, h2, h3, h4, h5, h6, hgroup,
    ul, ol, dl, blockquote, p, address table,
    fieldset, figure, pre {
       margin:0;
       margin-bottom:24px;
     }
}
%absolute-center
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom:0;
    left:0;
    right:0;
}
%touch
{
   cursor:pointer;
}
