%location {
    %location__map {
        position: relative;
        overflow: hidden;
        height: 250px;
        %figcaption {
            position: absolute;
            @include absolute;
            width: 80%;
            height: 50px;
            margin: auto;
            text-align: center;
        }
        %location__overlay {
            background-color: rgba($white, 0.7);
            z-index: 0;
        }
        %img {
            height: 250px;
            width: 100%;
            height: auto;
            margin: auto;
            z-index: 1;
        }
    }
    %location__address {
        color: $white;
    }
}


.location { @extend %location; }
.location__map { @extend %location__map; }
.location__address { @extend %location__address; }
.location__overlay { @extend %location__overlay; }
figcaption { @extend %figcaption; }
img { @extend %img; }
