

/* COLORS */



$text: #415361;

$lightblue: #6ca0d0;
$dark: #262f36;
$sortofgrey: #92a2af;
$black: #222222;
$darkerblue: #5288ba;
$light: #9bc0e1;

$bluegrey: #6e7c86;




/* FONTS */

$base:'Source Sans Pro', sans-serif;
$bold:'DINNextRoundedLTW01-Med';
$lightbold:'DIN Next W01 Regular';

