/*---------------------------------------------*\
*    NAV
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
    %nav {
        ul {
          @extend %flex--col;

          &:first-child {
            // @extend %flex--center;
          }
        }
        li {
            // @extend %flex;
            // @extend %flex--align-items-center;
           cursor:pointer;
            a {
                font-weight: map-deep-get($type, font-weight, bold);
            }
            &:last-of-type {
                margin:0;
            }
            ul {
                // position: absolute;
                // width: 150px;
                // top: 30px;
            }
        }
    }
/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
    .nav { @extend %nav; }
/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
