/*---------------------------------------------*\
*    NAV
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
    %tile {
      @extend %block;
      @extend %flex;
      @extend %flex--center;
      position: relative;
      overflow: hidden;
      text-align: center;
    }
/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
    .tile { @extend %tile; }
/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
