
  <div class="articles__article">
        <a href="{{ post.link }}">
         <article class="post blog-post">
              <div class="grid grid--col grid--gutter-xs-bottom">
                 <div class="grid__100-of-100">
                     <h1>{{post.post_title}}</h1>
                 </div>
                 <div class="grid__100-of-100">
                     <small class="date"> 19 Jun, 2017</small>
                 </div>
                 <div class="grid__100-of-100">
                     <p>{{post.post_excerpt}}</p>
                 </div>
              </div>
         </article>
      </a>
  </div>
  <hr class="break-line"/>
