// field height 70x

/*---------------------------------------------*\
 * Name: [partial_name]
 * Description: [your_description]
 * Dependancies: [drop-down, select-js]
/*---------------------------------------------*/
/*---------------------------------------------*\
 *    RELATIONSHIPS
/*---------------------------------------------*/

    %custom-field
    {
        > * {
            box-sizing: border-box;
        }
        position: relative;
        height: 70px;
        width: 100%;
        background-color: #b2d0eb;
        %icon
        {
            position: absolute;
            right: 25px;
            top: 30px;
            width: 16px; height: 16px;
        }
        %clear {
            cursor: pointer;
        }
        %input
        {
            border: 0 none;
            height: 100%;
            width: 100%;
            padding: 20px 25px 20px 70px;
            background-color: #b2d0eb;
            font-size: 27px;
            color: white;
            @include placeholder() {
                color: white;
            };
            @include placeholder-focus() {
                color: #b2d0eb;
            };
            &:focus {
                outline: none;
            }
        }
        %search
        {
            height: 25px; width: 25px;
            left: 25px;
            top: 24.5px;
        }
    }

/*---------------------------------------------*\
 *    BLOCK
/*---------------------------------------------*/
/*---------------------------------------------*\
 *    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
 *    MODIFIER
/*---------------------------------------------*/
/*---------------------------------------------*\
 *    SELECTORS
/*---------------------------------------------*/

    .blog-archive__field { @extend %custom-field; }
    .blog-archive__keyword { @extend %input; }
    .icon { @extend %icon; }
    .blog-archive__clear-all-filters { @extend %clear; }
    .blog-archive__search { @extend %search; }
