/*---------------------------------------------*\
*    CALENDAR
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %calendar__title {
        > * {
            height: 50px;
        }
        height: 50px;
        background-color: $emporer;
        color: $white;
        %calendar__button {
            display: block;
            height: 100%;
            width: 60px;
            svg {
                @include transition(all .3s ease-out) ;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        %calendar__month {
            line-height: 50px;
        }
    }

    %calendar__table {
        border-spacing:0;

        %calendar__heading {
            width: 37.5px;
            height: 30px;

            background-color: $gainsboro;
            border-right: 1px solid $almostWhite;
            border-left: 1px solid $almostWhite;
            &:first-child {
                border-left-width:0;
            }
            &:last-child {
                border-right-width:0;
            }
        }

        %calendar__cell,
        %calendar__heading {
            color: $emporer;
        }

        %calendar__row {
            &:first-child {
                %calendar__cell {
                    border-top-width: 1px;
                }
            }
            &:last-child {
                %calendar__cell {
                    border-bottom-width: 2px;
                }
            }
            %calendar__cell {
                position: relative;
                width: 37.5px;
                height: 37.5px;

                border: 1px solid $iron;
                &:first-child {
                    border-left-width: 2px;
                }
                &:last-child {
                    border-right-width: 2px;
                }
                %calendar__day {
                    position: relative;
                    font-size: map-get($type_size, button);
                    z-index: 2;
                }
                %calendar__event {
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left:0;
                    top:0;
                    ~ %calendar__day {
                        color: $white;
                    }
                    &%calendar__event--1 {
                        border-top: 0px solid transparent;
                        border-bottom: 37.5px solid transparent;
                        border-left: 37.5px solid $darkPastelRed;
                    }
                    &:only-of-type%calendar__event--1 {
                        border: 0 none;
                        background-color: $equator;
                    }
                    &%calendar__event--2 {
                        border-bottom: 0px solid transparent;
                        border-top: 37.5px solid transparent;
                        border-right: 37.5px solid $equator;
                    }
                }
                &%calendar__cell--overflow {
                    color: $magnesium;
                }
            }
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .calendar__table {
        @extend %calendar__table;
    }
    .calendar__title {
        @extend %calendar__title;
    }
    .calendar__btn {
        @extend %calendar__button;
    }
    .calendar__month {
        @extend %calendar__month;
    }
    .calendar__heading {
        @extend %calendar__heading;
    }
    .calendar__row {
        @extend %calendar__row;
    }
    .calendar__cell {
        @extend %calendar__cell;
    }
    .calendar__day {
        @extend %calendar__day;
    }
    .calendar__event {
        @extend %calendar__event;
    }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .calendar__cell--overflow {
        @extend %calendar__cell--overflow ;
    }
    .calendar__event--1 {
        @extend %calendar__event--1;
    }
    .calendar__event--2 {
        @extend %calendar__event--2;
    }
