{% import 'bem.twig' as bemify %}
{% set classname = bemify.bem(bem) %}

<span class="{{classname}} {% if constant('_MUSTARD') != true %} search--show {% endif %}" id="search--site">
   <div class="grid grid--row">
      <div class="">
       {% include '_atoms/interface/button.twig' with {
       bem: [
         {block: 'btn', modifier: ['icon-before', size] },
         {block: 'search', element: 'btn' }
       ],
       anchor_text: placeholder,
       anchor_link: '#',
       icon: 'icon-search'
       } %}
      </div>
      <div class="">
         <form id="search__form" method="post" action="{{action}}">
            <input name="term" class="search__field field input--{{size}}" type="text"/>
         </form>
      </div>
   </div>
   <div class="search__results" id="search__results"></div>
</span>
