{% extends 'layouts/regular.twig' %}

{% block page %}

   <div class="wrap wrap-tablet wrap-mobile wrap--rg">
      <div class="post post--{{post.post_type}}">

         {% include '_organisms/interface/breadcrumbs.twig' with { breadcrumbs: [
               { anchor_text : post.parent.name, anchor_link : '/' ~ post.parent.link },
           ], breadcrumb_icon: "icon-seperator"
         } %}

         <div class="article__body">

            <div class="article__body">
               <div class="grid grid--col grid--gutter grid--gutter-lg-bottom">

                  <div class="grid__100-of-100">
                     {{post.post_content}}
                  </div>
                  <div class="grid__100-of-100">
                     {% include '_molecules/interface/search--large.twig' with {
                        action: 'search',
                        bem: [
                           { block: 'search', modifier: ['site', 'show', 'large', 'light'] }
                        ],
                        size: 'large'
                     } %}
                  </div>

               </div>

            </div>
         </div>

      </div>
   </div>


{% endblock %}
