
{# Custom template for the archive page due to wrap specificities #}

{% extends ajax.method == true ? 'ajax.twig': 'project_fps/_templates/body.twig' %}
{% block body %}

   {% include 'project_fps/_molecules/content/block--page-banner.twig' %}

   <div class="wrap wrap--md">

      <div class="content-headline articles articles--{{post_type.name}}">
         {% include 'project_fps/_molecules/content/block--content-headline.twig' %}
      </div>

   </div>
   <div class="wrap wrap--rg">

      <div class="articles articles--{{post_type.name}}">

         <div class="grid grid--col grid--gutter grid--gutter-xlg-bottom">
            <div class="grid__100-of-100">

               {# Latest articles #}
               {# Firt 3 articles in here #}
               {% include 'project_fps/_organisms/content/fps-latest-articles.twig' with { bem : [
                     { block: 'block', modifier : ['dark'] },
                     { block: 'post', modifier : [post_type_str] }
                  ], articles: posts|slice(0, 3) }%}

            </div>
            <div class="grid__100-of-100">

               {# Articles #}
               {# Remaining articles in here #}
               {% include 'project_fps/_organisms/content/fps-articles.twig' with { bem : [
                     { block: 'block', modifier : ['dark'] },
                     { block: 'post', modifier : [post_type_str] }
                  ], articles: posts|slice(3, 6) } %}

            </div>
         </div>

         {# Pagination #}
         {% include '_organisms/interface/simple-pagination.twig' with { prev_text: 'Newer Stories', next_text: 'Older Stories'} %}
      </div>

   </div>

{% endblock %}
