{% extends 'project_fps/_templates/layout--2-column.twig' %}

   {% block column_before %}

      <div class="grid grid--row">
         <div class="grid__100-of-100 light">
            {# smaller heading #}
            {% include '_molecules/content/breadcrumbs-search.twig' with {breadcrumb_icon: "icon-seperator", heading_size: 'h1', heading_text: term_name} %}
         </div>
      </div>

   {% endblock %}

   {% block column_1 %}

      {% include 'project_fps/_molecules/interface/fps-members-nav.twig' with { bem: [ {block: 'nav', modifier: ['secondary'] } ], menu: secondary_menu.items } %}

   {% endblock %}

   {% block column_2 %}

      {% embed 'project_fps/_organisms/content/paginated.twig' %}
         {% block paginated %}

            <div class="grid grid--col grid--gutter grid--gutter-lg-bottom">
               <div class="member-documents content">

                  {% for post in posts %}
                     {% include '_atoms/content/heading.twig' with { size: 'h3', heading: post.post_title} only  %}
                     {{ post.content }}
                     {% include 'project_fps/_organisms/interface/documents.twig' with { documents: post.get_field('multiple_docs') } %}
                  {% endfor %}

               </div>
            </div>

         {% endblock %}
      {% endembed %}

   {% endblock %}
