{% extends 'project_fps/_templates/layout--2-column.twig' %}

{% block column_before %}

   <div class="grid grid--row">
      <div class="grid__100-of-100 light">
         {# smaller heading #}
         {% include '_molecules/interface/search.twig' with {
            action: '/members-area/search-documents',
            bem: [
               { block: 'search', modifier: ['site', 'small', 'light'] }
            ],
            size: 'small',
            placeholder: 'Search documents',
            id: 'docs_search'
         } %}
      </div>
   </div>

{% endblock %}

{% block column_1 %}

      {% include 'project_fps/_molecules/interface/fps-members-nav.twig' with { bem: [ {block: 'nav', modifier: ['secondary'] } ], menu: secondary_menu.items } %}

{% endblock %}

{% block column_2 %}
   <div class="articles articles--{{post.slug}} document-block document-block--{{post.get_field('page_theme')}}">

      <div class="grid grid--col grid--gutter grid--gutter-xlg-bottom">
         <div class="grid__100-of-100">

            {% include 'project_fps/_organisms/content/fps-latest-articles.twig' with { bem : [
               { block: 'block', modifier : ['dark'] },
               { block: 'post', modifier : [post_type_str] }
            ], articles: posts|slice(0, 3) }%}

               {% set style = 'background-image: url(' ~ attribute( item.get_field('texture').image.sizes, 'tile-' ~ device ) ~ ');' %}
         </div>

         {# Articles #}
         {# Remaining articles in here #}
         <div class="grid__100-of-100">
            {% include 'project_fps/_organisms/content/fps-articles.twig' with { bem : [
                  { block: 'block', modifier : ['dark'] },
                  { block: 'post', modifier : [post_type_str] }
               ], articles: posts|slice(3, 2) } %}

         </div>
      </div>

   </div>
{% endblock %}
