{% extends 'project_fps/_templates/body.twig' %}

{% block body %}

      <div class="wrap--break-rg">

         {% include 'project_fps/_organisms/interface/slideshow.twig' %}
      </div>
      <div class="wrap--break-rg">

         {#  intro #}
         {% include 'project_fps/_organisms/interface/intro.twig' %}

         {#  member #}
         <section class="members-break"></section>

         <section class="members dark" id="members">
            {% include 'project_fps/_molecules/interface/section-title-with-button.twig' %}
            {% include 'project_fps/_organisms/interface/member-search.twig' %}
            {% include 'project_fps/_organisms/interface/development-guidance.twig' %}
         </section>

         <section class="thinks-about" id="thinks-about">
            {{ fps_recent_posts }}
         </section>


         {% include 'project_fps/_organisms/interface/feed.twig' %}
      </div>


{% endblock %}
