{% extends 'project_fps/_templates/layout--2-column-inverted.twig' %}

   {% block column_before %}
   {% endblock %}

   {% block column_1 %}
      <div class="post body-{{post.term}}">

         {% include 'project_fps/_molecules/content/block--content-headline.twig' %}

         <div class="grid grid--col grid--gutter-lg-bototm">
            <div class="content">
               {{ post.content }}
            </div>

            <div class="accordions">
               {% for item in post.get_field('accordion') %}
                  <div class="wrap--break-sm">
                     {% embed '_molecules/interface/accordion.twig' with { accordion__content: item.content, anchor_text: item.title, bem: [{ block: 'accordion--' ~
                     post.get_field('page_theme') ~ ' accordion--guidance' }] } %}

                        {% block accordion__button %}
                           {% embed '_atoms/interface/button.twig' with {
                              bem: [
                                 { block: 'btn', modifier: ['regular', 'wide', 'text', 'content', 'padded'] },
                                 { block: 'accordion', element: 'button' }
                              ],
                              anchor_link: '#accordion' ~ loop.index,
                              icon: 'icon-plus',
                              secondary_icon: 'icon-minus',
                              icon_bem: [{ block: 'accordion__plus' }],
                              icon_2_bem: [{ block: 'accordion__minus' }] } %}
                              {% block btn_block %}
                                 <h4 class="font--accent">{{anchor_text}}</h4>
                              {% endblock %}
                           {% endembed %}
                        {% endblock %}

                     {% endembed %}
                  </div>
               {% endfor %}
            </div>


         </div>

      </div>
   {% endblock %}

   {% block column_2 %}

      <div class="member-documents">
         {% include 'project_fps/_organisms/interface/documents.twig' with { documents: fields.multiple_docs } %}
      </div>

   {% endblock %}
