{% extends 'project_fps/_templates/tmpl--regular-page.twig' %}

{% block content %}

{% include 'project_fps/_molecules/content/block--content-headline.twig' %}

<div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
   <div class="grid__100-of-100">
      <h3 class="font--primary">{{fields.subhead}}</h3>
   </div>
   <div class="grid__100-of-100">
      {% embed 'project_fps/_organisms/layout/2-col.twig' with { column_1_size: '50', column_2_size: '50'} %}
         {% block column_1 %}
            {% include '_atoms/content/list--address.twig' with { address: options.address } %}
         {% endblock %}
         {% block column_2 %}
            {% for item in options.contact %}
               <div class="address__line">
                  {% set anchor_link = item.link_type ~ ':' ~ item.value %}
                  {% include '_atoms/content/anchor.twig' with { anchor_text: item.prefix ~ ' '~ item.value, bem: [{ block:'line-below-hover' }] } %}
               </div>
            {% endfor %}
         {% endblock %}
      {% endembed %}
   </div>
   <div class="grid__100-of-100">
      {% if success == false %}
         {% embed '_molecules/interface/form.twig' with { action: '#' , method:'POST', name:'fps_contact', form_name: 'fps_contact' } %}
            {% block fields %}
               <div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
                  <div class="grid__100-of-100">
                     {% embed 'project_fps/_organisms/layout/2-col.twig' with { column_1_size: '50', column_2_size: '50'} %}

                     {% block column_1 %}
                        {% include '_atoms/interface/label.twig' with { bem:[{block: 'error'}], label: valid.getError('contact_name') } %}
                        {% include '_atoms/interface/input.twig' with { bem:[{block: 'field', modifier: ['primary']}], input_type: 'text', input_placeholder: 'Name', input_name: 'contact_name', input_value: valid.getValue('contact_name')} %}
                     {% endblock %}

                     {% block column_2 %}
                        {% include '_atoms/interface/label.twig' with { bem:[{block: 'error'}], label: valid.getError('contact_email') } %}
                        {% include '_atoms/interface/input.twig' with { bem:[{block: 'field', modifier: ['primary']}], input_type: 'email', input_placeholder: 'Email', input_name: 'contact_email', input_value: valid.getValue('contact_email') } %}
                     {% endblock %}

                     {% endembed %}
                  </div>
                  <div class="grid__100-of-100">
                     {% include '_atoms/interface/label.twig' with { bem:[{block: 'error'}], label: valid.getError('contact_subject') } %}
                     {% include '_atoms/interface/input.twig' with { bem: [{block: 'field', modifier: ['primary']}], input_type: 'text', input_placeholder: 'Subject', input_name: 'contact_subject', input_value: valid.getValue('contact_subject') } %}

                  </div>
                  <div class="grid__100-of-100">
                     {% include '_atoms/interface/label.twig' with { bem:[{block: 'error'}], label: valid.getError('contact_message') } %}
                     {% include '_atoms/interface/textarea.twig' with { bem: [{block: 'field', modifier: ['primary']}], input_type: 'text', input_placeholder: 'Message', input_name: 'contact_message', input_value: valid.getValue('contact_message')} %}

                  </div>
                  <div class="grid__100-of-100">
                     <div class="flex--center grid-desktop grid-desktop--col
                     grid-tablet grid-tablet--col
                     grid-mobile grid-mobile--col">
                        <div class="grid-desktop__25-of-100
                        grid-tablet__25-of-100
                        grid-mobile__100-of-100">

                           {% include '_atoms/interface/input.twig' with {
                              bem: [{block: 'btn btn--fill btn--regular btn--danube btn__text'}],
                              input_type: 'submit', input_title: 'Submit', input_name: 'contact_submit'}
                           %}

                        </div>
                     </div>
                  </div>
               </div>
            {% endblock %}
         {% endembed %}
      {% else %}
         {% embed '_molecules/content/block.twig' %}
         {% block body %}
               {{fields.editor}}
         {% endblock %}
         {% endembed %}

      {% endif %}
   </div>
</div>

{% endblock %}
