{% extends 'project_fps/_templates/tmpl--regular-page.twig' %}

{% block content %}

   {% include 'project_fps/_molecules/content/block--content-headline.twig' %}

   <div class="grid grid--col grid--gutter-xlg-bottom">
      {% for parent in systems %}

         <div class="post--systems grid grid--col grid--gutter grid--gutter-rg-bottom">

            {% include '_atoms/content/heading.twig' with { bem: [{ block: 'font--primary' }], size: 'h4', heading: parent.name} %}

            <div class="grid grid--col grid--gutter grid--gutter-sm-bottom">

               {% for term in parent.children %}

                  {% embed '_molecules/interface/accordion.twig' with { bem: [ {block: 'accordion--grey'} ], anchor_text: term.name } %}

                     {% block accordion__button %}
                        {% embed '_atoms/interface/button.twig' with {
                           bem: [
                              { block: 'btn', modifier: ['regular', 'wide', 'text', 'content', 'padded'] },
                              { block: 'accordion', element: 'button' }
                           ],
                           anchor_link: '#accordion' ~ loop.index,
                           icon: 'icon-plus',
                           secondary_icon: 'icon-minus',
                           icon_bem: [{ block: 'accordion__plus' }],
                           icon_2_bem: [{ block: 'accordion__minus' }] } %}
                           {% block btn_block %}
                              <h5>{{anchor_text}}</h5>
                           {% endblock %}
                        {% endembed %}
                     {% endblock %}

                     {% block accordion__content %}
                        {% embed '_molecules/content/block.twig' with { bem: [ {block: 'post'} ] } %}
                           {% block body %}
                              <div class="grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-rg-right">


                                 <div class="grid-desktop__50-of-100">
                                       {% include '_atoms/content/heading.twig' with {size: 'h4', heading: 'Primary Provider', bem: [{block: 'heading--tt-none'}] } %}
                                       <div class="grid grid--col grid--gutter-rg-bottom flex--align-items-start">
                                          {% for item in term.primary_members %}
                                              {% include '_atoms/content/anchor.twig' with { bem: [{ block: 'anchor--primary'}], anchor_text: item.name, anchor_link: item.link } %}
                                          {% endfor %}
                                       </div>
                                 </div>
                                 <div class="grid-desktop__50-of-100">
                                    {% include '_atoms/content/heading.twig' with {size: 'h4', heading: 'Secondary Provider', bem: [{block: 'heading--tt-none'}] } %}

                                    <div class="grid grid--col grid--gutter-rg-bottom flex--align-items-start">
                                       {% for item in term.secondary_members %}
                                           {% include '_atoms/content/anchor.twig' with { bem: [{ block: 'anchor--primary'}], anchor_text: item.name, anchor_link: item.link } %}
                                       {% endfor %}
                                    </div>
                                 </div>
                              </div>

                           {% endblock %}
                        {% endembed %}
                     {% endblock %}
                  {% endembed %}
               {% endfor %}

            </div>
         </div>

      {% endfor %}

   </div>

{% endblock %}
