{% extends 'project_fps/_templates/tmpl--regular-page.twig' %}

{% block content %}

   <div class="light post post--{{post.post_type}}">
      <div class="article__body post-content--{{post.slug}}">

         {% include 'project_fps/_molecules/content/block--content-headline.twig' %}

         <div class="content">
            {{post.content}}
         </div>

      </div>
   </div>

{% endblock %}
