/*---------------------------------------------*\
*    svg.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
/*---------------------------------------------*\
*    FONT SIZE
/*---------------------------------------------*/

    /*---------------------------------------------*\
    *    ADAPTIVE FONT
    *
    *   Root font size and what EM sizes will be
    *   based on ( including widths )
    /*---------------------------------------------*/

    @media (max-width: #{$min_screen_width}px){
        %root {
            font-size: #{$min-font}px;
        }
    }

    @media (min-width: #{$min_screen_width}px) and (max-width: #{$max_screen_width}px){
        %root {
            @include adaptive_font( $min-font, $max-font, 1.4 );
        }
    }

    @media (min-width: #{$max_screen_width}px) {
      %root {
        font-size: #{$max-font}px;
        @include line-height($root-line);
      }
    }

    /*---------------------------------------------*\
    *    HEADINGS
    /*---------------------------------------------*/

    h1 {
      @include em($h1-size);
      line-height: #{$h1-size}px;
      @include line-height($h1-size);
    }

    h2 {
      @include em($h2-size);
      line-height: #{$h2-size}px;
      @include line-height($h2-size);
    }

    h3 {
      @include em($h3-size);
      line-height: #{$h3-line}px;
      @include line-height($h3-line);
    }

    h4 {
        @include em($h4-size);
        line-height: #{$h4-line}px;
        @include line-height($h4-line);
    }

    h5 {
        @include em($h5-size);
        line-height: #{$h5-line}px;
        @include line-height($h5-line);
    }

    h6 {
        @include em( map-deep-get($type, font-size, h6) );
        line-height: #{$h6-line}px;
        @include line-height($h6-line);
    }

    /*---------------------------------------------*\
    *    CONTENT ELMENTS
    /*---------------------------------------------*/

    p {
        @include em($para-size);
        @include line-height($para-line);
    }

    small {
      @include em($tiny-size);
      @include line-height($tiny-line);
    }

    time {
        font-size: rem($time-size);
    }

    .small {
        @include em($small-size);
    }

    .smaller {
        @include em($smaller-size);
    }

    a {
        @include em($anchor-size);
        @include line-height($anchor-line);
    }

    blockquote {
        font-size: 15px;
        text-align: center;
        line-height:22px;
        footer {
            font-size: 14px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
    }

    %font--capitalize {
        text-transform: capitalize;
    }

    .font--capitalize { @extend %font--capitalize; }


/*---------------------------------------------*\
*    FONT FAMILY
/*---------------------------------------------*/

    @font-face {
        // font-family: 'nexa-bold--reg';
        // src: url('#{$TYPE_DIR}nexa-bold-webfont.woff2') format('woff2'),
        //      url('#{$TYPE_DIR}nexa-bold-webfont.woff') format('woff');
        // font-weight: normal;
        // font-style: normal;
    }

    %primary-font {
        font-family: $primary-font;
    }

    %secondary-font {
        font-family: $secondary-font;
    }

    %acent-font {
        font-family: $acent-font;
        font-weight: map-deep-get($type, font-weight, regular);
        letter-spacing: 1px;
    }

    .font--accent { @extend %acent-font; }
    .font--primary { @extend %primary-font; }

    strong {
        @extend %primary-font;
    }


/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    :root { @extend %root; }

    * { @extend %secondary-font; }

    h1, h2, h3 { @extend %acent-font; }

    h5 { @extend %primary-font; }


/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/


/*----------------------------------------------
    FONT STYLES
----------------------------------------------*/
