%element {

  &--overlap {

    background-color: $black;

    &%svg {
      background: transparent;
      fill: $black;
    }

  }

}

// .element { @extend %element; }
.element--overlap { @extend %element--overlap; }
