
<div class="blog-archive__results">
   <hr class="break-line">
   <div class="grid grid--col grid--gutter-sm-bottom">
     <h2 class="blog-archive__matches"><span class="blog-archive__num-posts">{{ posts|length }}</span> Matching articles found</h2>
     <div class="articles">

         {% include '_organisms/blog-archive-posts/blog-archive-posts.twig' %}

     </div>
   </div>
</div>
