// loading overlay
@include keyframes (overlay-close)
{
   0%
   {
      top:0;
   }
   75%
   {
      top: 100%;
   }
   100%
   {
       z-index: -9999;
       top: 100%;
   }
};

%loading-screen
{
    @extend %overlay;

    %loading-screen__block
    {
        position:absolute;
        right: 0;
        left: 0;
        margin:auto;
        bottom: 0;
        top: 0;
        width:15%;
        height:15%;
        overflow:hidden;

        %loading-screen__object
        {
            bottom:50%;
            position:absolute;
            left:0;
            right: 0;
            margin:auto;
            width: 65px;
            height: 65px;

            %loading-screen__icon
            {
                position: relative;
                top: 0;
                bottom:0;
                left:0;
                right:0;
                width:100%;
                height:100%;
            }
        }
    }
    // .loading-screen--rise { @extend %loading-screen--rise; }
    &--rise
    {
        %loading-screen__block
        {
            %loading-screen__object
            {
                animation: rise 0.5s ease-out 0.3s forwards;
            }
        }
    }
}

%page--loading-close
{
    %loading-screen
    {
        @include animation(overlay-close .7s ease 1s forwards);
        %loading-screen__object
        {
            bottom: 20px;
            animation: fall 0.5s ease-out 0.3s forwards;
        }
    }
}

%uncut-mustard
{
    %loading-overlay
    {
        display: none;
    }
}

.page--loading-close { @extend %page--loading-close; }

.loading-screen { @extend %loading-screen; }
.loading-screen__block { @extend %loading-screen__block; }
.loading-screen__object { @extend %loading-screen__object; }
.loading-screen__icon { @extend %loading-screen__icon; }
