{# _molecules/loading-icon/loading-screen.twig #}

{# Parameters #}
{% set LoadingScreenLogo = logo ?? null %}

{# Variables #}
{% set loadingScreenIconBem = [ { block: 'loading-screen', element: 'icon'}, { block: 'animation', modifier: ['waving'] }] %}

{# Output #}
{% import 'macros.twig' as mcro %}

{% set loadingInnerHTML %}
   <div class="loading-screen__block">

      <div class="loading-screen__object">

         {% include '_atoms/svg/svg.twig' with {  bem: loadingScreenIconBem, icon: 'icon-logo' } %}

      </div>

   </div>
{% endset %}

{{ mcro.createHTMLTag( 'div', {}, [{ block: 'loading-screen' }], loadingInnerHTML ) }}
