

<div class="content-block">
   <div class="grid-desktop grid-desktop--row grid-desktop--gutter-lg-right">
      <div class="grid-desktop grid-desktop__55-of-100">

         {{ el.createHTMLTag('div', {}, [{ block: 'content_block', element: 'content' }, { block: 'typography' }], post.content) }}

      </div>
      <div class="grid-desktop grid-desktop__45-of-100">

         <div class="grid grid--col">
            <div class="grid__100-of-100">

               <div class="content-block__image">
                  {{ el.createHTMLTag('img', { src: post.feature_image }, [{} ]) }}
               </div>

            </div>
            <div class="grid__100-of-100">

               <div class="grid grid--gutter-sm-right">

                  {% include '_atoms/icon/icon.twig' with { icon: 'icon-'~post.icon, bem: [ { block:'content-block', element: 'icon' }, { block: 'icon', modifier: ['md'] } ] } %}
                  {{ el.createHTMLTag('span', {}, [ { block: 'h3' }, { block: 'content-block', element: 'tag' } ], post.tag) }}

               </div>

            </div>
         </div>

      </div>
   </div>
</div>
