/*---------------------------------------------*\
 * Name: styled checkbox
 * Description: a not so normal checkbox
 * Dependancies: []
/*---------------------------------------------*/
/*---------------------------------------------*\
 *    RELATIONSHIPS
/*---------------------------------------------*/

%styled-checkbox
{
    @extend %styled-checkbox;
    & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    }

    // Box.
    & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        border: 2px solid #b1bfca;
    }

    // Box hover
    &:hover + label {
        color: #5288ba;
    }

    // Box focus
    // &:focus + label:before {
    //     box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    // }

    // Box checked
    &:checked + label
    {
        color: #5288ba;
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 4px;
        background: #5288ba;
        width: 8px;
        height: 8px;
        // box-shadow:
        // 2px 0 0 white,
        // 4px 0 0 white,
        // 4px -2px 0 white,
        // 4px -4px 0 white,
        // 4px -6px 0 white,
        // 4px -8px 0 white;
        // transform: rotate(45deg);
    }
}


/*---------------------------------------------*\
 *    BLOCK
/*---------------------------------------------*/
/*---------------------------------------------*\
 *    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
 *    MODIFIER
/*---------------------------------------------*/


.blog-archive__checkbox { @extend %styled-checkbox; }
