/*---------------------------------------------*\
*    EVENT OVERLAY
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %events-overlay {
        position: fixed;
        top:0;left:0;bottom:0;right:0;
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 1;
        display: none;

        &--visible {
            display: block;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .events-overlay { @extend %events-overlay; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .events-overlay--visible { @extend %events-overlay--visible; }
