/*---------------------------------------------*\
*    NAV
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
    %overlay {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10000;
    }
/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
    .overlay { @extend %overlay; }
/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
