%btn--primary
{
    @extend %input;
    @extend %btn;
    background-color: $white;
    border-radius: 20px;
    @include padding-all($right: 25, $left: 25);
    height: 40px;
    %btn__text {
        line-height: 40px;
        @extend %small;
        text-transform: uppercase;
        color: $atomic;
        font-family: map-get($type_family, heading);
    }
}

%btn--submit
{
    @extend %btn--primary;
    background-color: $turquoise;
    @extend %small;
    text-transform: uppercase;
    color: $white;
    font-family: map-get($type_family, heading);
}

.btn--submit { @extend %btn--submit; }

.btn--primary { @extend %btn--primary; }

.btn--submit { @extend %btn--submit; }

.btn__text { @extend %btn__text; }
