/**
* @desc         Base typography styles.
* @name         Typography
* @author
* @tested
* @requires     variables.scss
*/

@include plumber-set-defaults(
	$font-size: 2.5,
    $line-height: 4,
	$baseline: $body-baseline,
	$grid-height: 1rem,
);

html {
    font-size: #{$gh}px;
    font-family: $body-font;
    font-weight: 400;
    color: $doveGrey;
}

body.base-grid {
    background-image: linear-gradient(to top, rgba(242, 201, 76, 0.5) 0, rgba(242, 201, 76, 0.5) 1px, transparent 1px);
    background-size: 100% #{$gh}px;
}


body {
	// *** Headers ***
	h1, h2, h3 {
		font-family: $heading-font;
        font-weight: 700;
        color: $doveGrey;
		// @include font-smoothing;
	}

	h1 {
		@include plumber(
            $baseline: $heading-baseline,
			$font-size: 9.5,
			$line-height: 10,
		);
	}

	h2 {
		@include plumber(
            $baseline: $heading-baseline,
			$font-size: 3.5,
			$line-height: 5,
		);
	}

	h3 {
		@include plumber(
			$font-size: 3,
			$line-height: 4,
			$baseline: $heading-baseline
		);
	}

	// *** Body text ***
	p {
		@include plumber($leading-top: 0, $leading-bottom: 2);
	}

    a
    {
        @extend p;
        text-decoration: none;
        font-weight: 700;
        color: $doveGrey;
        &:hover
        {
            color: $shilo;
        }
        &.term, &.tag
        {
            font-weight: 400;
            @include plumber(
                $font-size: 1.5,
                $line-height: 2,
            );
            color: $mercury;
            text-transform: uppercase;
        }
    }

	span
	{
		@include plumber(
			$font-size: 1.2
		);
	}

	.typography
	{
		h1 {
			@include plumber(
				$baseline: $heading-baseline,
				$font-size: 9.5,
				$line-height: 10,
				$leading-top: 10,
				$leading-bottom: 5
			);
			font-weight: 700;
		}

		h2 {
			@include plumber(
				$baseline: $heading-baseline,
				$font-size: 3.5,
				$line-height: 5,
				$leading-top: 7,
				$leading-bottom: 4,
			);
		}

		h3 {
			@include plumber(
				$font-size: 3,
				$line-height: 4,
				$leading-top: 5,
				$baseline: $heading-baseline
			);
		}
	}
}

footer
{
	color: $silver;
	a {
		color: $silver;
	}
	a {
		@include plumber(
			$font-size: 1.5,
			$line-height: 1,
			$leading-bottom:0,
			$leading-top:0
		);
	}
	.btn--menu {
		color: white;
	}
}
