@mixin adaptive_font( $min_font, $max_font, $line: 1.5 )
{
   font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_screen_width}px) / ( #{$max_screen_width} - #{$min_screen_width}) ) );

   line-height: calc( (#{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_screen_width}px) / ( #{$max_screen_width} - #{$min_screen_width}) ) ) * #{$line} );
}

@mixin em($font) {
  font-size: #{$font / $max_font}em;
}

@mixin line-height($line) {
    line-height: #{$line / $max_font}rem;
}

@mixin font( $name, $src, $hash ) {
  @font-face {
    font-family: $name;
    src: url('fonts/' + $src + '.eot');
    src: url('fonts/' + $src + '.eot?#iefix') format('embedded-opentype'),
         url('fonts/' + $src + '.woff') format('woff'),
         url('fonts/' + $src + '.ttf') format('truetype'),
         url('fonts/' + $src + '.svg#' + $hash ) format('svg');
    font-weight:normal;
    font-style:normal;
  }
}
