{# BLOCK #}

{% import 'bem.twig' as bemify %}
{% set classname = bemify.bem(bem) %}

{# attribute( background_image.sizes, 'tile-desktop') #}

<div class="block {{classname}}{{ class ? ' ' ~ class : ''}}" style="{{style}}">

   {% block body %}

      {% if content %} {{content}} {% endif %}

   {% endblock %}

</div>
