
<div class="grid-desktop--50-of-100">
   <div class="grid-mobile grid-mobile--col grid-mobile--gutter-bottom
   grid-tablet grid-tablet--row grid--gutter grid-tablet--gutter-md-right
   grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-md-right">
      <div class="grid-tablet--25-of-100 grid-desktop--30-of-100">
         {% embed 'molecules-block' with { bem: [ {block: 'block', modifier: ['daintree'] }, {block: 'news' } ] } %}
            {% block content %}
               <h2>News</h2>
               {% include 'project_fps/_atoms/interface/date--from-to.twig' with {title: 'read all', button_link: 'news' } %}
            {% endblock %}
         {% endembed %}
      </div>
      <div class="grid-tablet--80-of-100 grid-desktop--70-of-100">
         <div class="feed__blog">
            {% include 'links/feed-list.twig' with { list_items: news, modifier: 'red' } %}
         </div>
      </div>
   </div>
</div>
