{% if bem %}
   {% set bem = bem|merge( [ { block: 'content' } ] ) %}
{% else %}
   {% set bem =  [ { block: 'content' } ] %}
{% endif %}


{% embed '_molecules/content/block.twig' with { bem : bem } %}
   {% block body %}

      {% include '_molecules/content/dated-heading.twig' with { size: 'h2' } %}

      <p> {{content}} </p>

      {% include '_atoms/interface/button.twig' with {
         bem : [
            { block: 'btn', modifier: ['primary', 'dark'] }
         ],
         icon: 'icon-arrow'
      } %}

   {% endblock %}
{% endembed %}
