{# size #}

<div class="dated-heading">
   {% include '_atoms/content/date.twig' with { bem: [{ block:'dated-heading', element: 'date' }] } %}
   {% include '_atoms/content/heading.twig' with { bem: [ { block:'dated-heading', element: 'heading' } ] } %}
</div>
