{# size #}

<div class="heading--breadcrumbs">
   <div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
      {% include '_organisms/interface/breadcrumbs.twig' %}
      {% if heading_text %}
         {% include '_atoms/content/heading.twig' with { size: heading_size, heading: heading_text } only  %}
      {% endif %}
   </div>
</div>
