%btn {
  font-size: 16px;
  line-height: 50px;
  height: auto;
  text-transform: none;
  box-shadow: none;
  border: 1px solid $grey;
  &:hover {
    box-shadow: none;
  }
  &%btn--round {
    border-radius: 15px;
  }
  &%btn--facebook {
    background-color: $facebook-blue;
  }
  &%btn--io {
    background-color: $green;
    color: $white;
  }
  &%btn--cancel {
    background-color: $white;
    color: grey;
  }
}

.btn { @extend %btn; }
.btn--round { @extend %btn--round; }
.btn--facebook { @extend %btn--facebook; }
.btn--cancel { @extend %btn--cancel; }
.btn--io { @extend %btn--io; }
