%header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 10px;
  > img {
    margin: auto;
    width: 80px;
  }
  &%header--tall {
    padding: 30px 10px 10px;
    h2 {
      margin: 0;
      color: $white;
    }
    > img {
      width: 110px;
    }
  }
  &%header--io {
    background-color: $green;
  }
}

.header { @extend %header; }
.header--tall { @extend %header--tall; }
.header--io { @extend %header--io; }
