
%modal {
  background-color: transparent;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  %modal__header {
    h1,h2,h3,h4 {
      margin-top: 0;
    }
    background-color: #fafafa;
    text-align: center;
    padding: 15px 20px;
    *  {
      margin-bottom:0;
    }
  }
  %modal__content {
    background-color: #fafafa;
    > img {
      max-width: 30%;
      max-height: 125px;
      margin: auto;
      display: block;
    }
  }
  %modal__footer {
    background-color: #fafafa;
    text-align: center;
    a {
      font-size: 16px;
      color: $black !important;
      margin: 0 !important;
      text-transform: capitalize !important;
      &:first-child {

      }
      &:last-child {
        font-weight: bold;
      }
    }
  }
  &%modal--b2c {
    %modal__footer {
      background-color: $orange;
      a {
        color: $white !important;
        margin: 0 !important;
      }
    }
  }
  ul {
    li {
      font-size: 14px;
    }
  }
}

.modal { @extend %modal; }
.modal--b2c { @extend %modal--b2c; }
.modal__header { @extend %modal__header; }
.modal__content { @extend %modal__content; }
.modal__footer { @extend %modal__footer; }
