%nav {
  position: relative;
  &%nav--share {
    a {
      display: block;
      width: 100%;
    }
    span {
      font-size: 12px;
      text-align: center;
      display: block;
      color: $black !important;
      text-transform: none;
    }
  }
}

.nav { @extend %nav; }
.nav--share { @extend %nav--share; }
