@include mobile() {
    .heading-link-block {
        .heading-link-block__heading {
            * {
                margin: 0;
            }
            @include flexbox();
            vertical-align: middle;
            @include align-items( center );
        }
        .heading-link-block__link {
            @include flexbox();
            @include flex-just( flex-end );
            vertical-align: middle;
            @include align-items( center );
        }
    }
};

@include mobile() {
    .heading-link-block--twitter {
        margin-bottom: 24px;
        .heading-link-block__heading {
            * {
                margin: 0;
            }
            @include flexbox();
            vertical-align: middle;
            @include align-items( center );
        }
        .heading-link-block__link {
            @include flexbox();
            @include flex-just( flex-end );
            vertical-align: middle;
            @include align-items( center );
        }
    }
};
