/*---------------------------------------------
    button.scss
---------------------------------------------*/
/*---------------------------------------------
    RELATIONSHIPS
---------------------------------------------*/

$default-icon-w: 15px;
$default-icon-h: 15px;

%btn {
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: middle;

    outline: none;
    cursor: pointer;

    border: none;

    @include transition(.3s background ease-out);

    %btn__icon {
        @extend %icon--sm;
    }

    %span {
        display: block;
        position: relative;

        line-height: 30px;
        font-weight: map-get($type_weight, bold);

        @include transition(all .3s ease-out);
        will-change: transform;
    }

    %btn__icon, %span {
        z-index: 10;
    }

}

%btn--content {
    font-size: initial;
}

%btn--padded {
    @include padding-all($top: 10, $bottom: 10);
}

/*---------------------------------------------
    BLOCK
---------------------------------------------*/

.btn { @extend %btn; }

/*---------------------------------------------
    ELEMENT
---------------------------------------------*/

.btn__icon { @extend %btn__icon; }
span { @extend %span; }

/*---------------------------------------------
    MODIFIER
---------------------------------------------*/

.btn--content { @extend %btn--content; }
.btn--padded { @extend %btn--padded; }

/*---------------------------------------------
    SKIN
---------------------------------------------*/

@import "skin/all";
