
/*---------------------------------------------*\
*    grid.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %grid--gutter {
        @each $i in (top, right, bottom, left) {
            &%grid--gutter-last-of-#{$i} {
                @include grid--gutter-last-of($i);
            }

            &%grid--gutter-null-#{$i} {
                @extend %grid--gutter-last-of-#{$i};
            }

            &%grid--gutter-sm-#{$i} {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, sm));
            }

            &%grid--gutter-rg-#{$i} {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, rg));
            }

            &%grid--gutter-md-#{$i} {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, md));
            }

            &%grid--gutter-lg-#{$i} {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, lg));
            }

            &%grid--gutter-xlg-#{$i} {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
            }
        }
    }

    %grid {
        @include flexbox();

        &--row {

            @include flex-dir( row );
            @include flex-flow( row );
            > * {
                float: left;
            }
            &:after {
               content: "";
               display: table;
               clear: both;
             }
        }
        &--col {

            @include flex-dir( column );
            @include flex-flow( column );
        }

        &--continuous {
            @include flex-wrap(wrap);
        }

        @for $i from 1 through 100 {
            > %grid__#{$i}-of-100 {
                width: ($i / 100) * 100%;
            }
        }

        @extend %grid--gutter;

        // @for $i from 1 through 10 {
        //     &.grid--continuous-#{$i} {
        //         > *:nth-child( #{$i}n + #{$i } ) {
        //             padding-right: 0;
        //         }
        //     }
        // }
    }

    %grid-mobile--gutter {
        @include mobile {
            @each $i in (top, right, bottom, left) {
                &%grid-mobile--gutter-last-of-#{$i} {
                    @include grid--gutter-last-of($i);
                }

                &%grid-mobile--gutter-null-#{$i} {
                    @extend %grid-mobile--gutter-last-of-#{$i};
                    @include grid--gutter($i, 0);
                }

                &%grid-mobile--gutter-sm-#{$i} {
                    @extend %grid-mobile--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, sm));
                }

                &%grid-mobile--gutter-rg-#{$i} {
                    @extend %grid-mobile--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, rg));
                }

                &%grid-mobile--gutter-md-#{$i} {
                    @extend %grid-mobile--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, md));
                }

                &%grid-mobile--gutter-lg-#{$i} {
                    @extend %grid-mobile--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, lg));
                }

                &%grid-mobile--gutter-xlg-#{$i} {
                    @extend %grid-mobile--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
                }
            }
        }
    }

    %grid-mobile {
        @include mobile {
            @include flexbox();

            &--row {

                @include flex-dir( row );
                @include flex-flow( row );
                > * {
                    float: left;
                }
                &:after {
                   content: "";
                   display: table;
                   clear: both;
                 }
            }

            &--col {

                @include flex-dir( column );
                @include flex-flow( column );
            }

            &--continuous {
                @include flex-wrap(wrap);
            }

            @for $i from 1 through 100 {
                > %grid-mobile__#{$i}-of-100 {
                    width: ($i / 100) * 100%;
                }
            }
        };
        @extend %grid-mobile--gutter;
    }

    %grid-tablet--gutter {
        @include tablet {
            @each $i in (top, right, bottom, left) {
                &%grid-tablet--gutter-last-of-#{$i} {
                    @include grid--gutter-last-of($i);
                }

                &%grid-tablet--gutter-null-#{$i} {
                    @extend %grid-tablet--gutter-last-of-#{$i};
                    @include grid--gutter($i, 0);
                }

                &%grid-tablet--gutter-sm-#{$i} {
                    @extend %grid-tablet--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, sm));
                }

                &%grid-tablet--gutter-rg-#{$i} {
                    @extend %grid-tablet--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, rg));
                }

                &%grid-tablet--gutter-md-#{$i} {
                    @extend %grid-tablet--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, md));
                }

                &%grid-tablet--gutter-lg-#{$i} {
                    @extend %grid-tablet--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, lg));
                }

                &%grid-tablet--gutter-xlg-#{$i} {
                    @extend %grid-tablet--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
                }
            }
        }
    }

    %grid-tablet {
        @include tablet {
            @include flexbox();


            &--row {

                @include flex-dir( row );
                @include flex-flow( row );
                > * {
                    float: left;
                }
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }

            &--col {

                @include flex-dir( column );
                @include flex-flow( column );
            }

            &--continuous {
                @include flex-wrap(wrap);
            }

            @for $i from 1 through 100 {
                > %grid-tablet__#{$i}-of-100 {
                    width: ($i / 100) * 100%;
                }
            }
        };
        @extend %grid-tablet--gutter;
    }

    %grid-desktop--gutter {
        @include desktop {
            @each $i in (top, right, bottom, left) {
                &%grid-desktop--gutter-last-of-#{$i} {
                    @include grid--gutter-last-of($i);
                }

                &%grid-desktop--gutter-null-#{$i} {
                    @extend %grid-desktop--gutter-last-of-#{$i};
                    @include grid--gutter($i, 0);
                }

                &%grid-desktop--gutter-sm-#{$i} {
                    @extend %grid-desktop--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, sm));
                }

                &%grid-desktop--gutter-rg-#{$i} {
                    @extend %grid-desktop--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, rg));
                }

                &%grid-desktop--gutter-md-#{$i} {
                    @extend %grid-desktop--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, md));
                }

                &%grid-desktop--gutter-lg-#{$i} {
                    @extend %grid-desktop--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, lg));
                }

                &%grid-desktop--gutter-xlg-#{$i} {
                    @extend %grid-desktop--gutter-last-of-#{$i};
                    @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
                }
            }
        }
    }

    %grid-desktop {
        @include desktop {
            @include flexbox();


            &--row {

                @include flex-dir( row );
                @include flex-flow( row );
                > * {
                    float: left;
                }
                &:after {
                   content: "";
                   display: table;
                   clear: both;
                 }
            }

            &--col {

                @include flex-dir( column );
                @include flex-flow( column );
            }

            &--continuous {
                @include flex-wrap(wrap);
            }

            @for $i from 1 through 100 {
                > %grid-desktop__#{$i}-of-100 {
                    width: ($i / 100) * 100%;
                }
            }
        };
        @extend %grid-desktop--gutter;
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .grid { @extend %grid; }

    .grid-mobile { @extend %grid-mobile; }

    .grid-tablet { @extend %grid-tablet; }

    .grid-desktop { @extend %grid-desktop; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .grid-desktop--row { @extend %grid-desktop--row; }

    .grid-desktop--col { @extend %grid-desktop--col; }

    .grid-desktop--continuous { @extend %grid-desktop--continuous; }

    .grid-tablet--row { @extend %grid-tablet--row; }

    .grid-tablet--col { @extend %grid-tablet--col; }

    .grid-tablet--continuous { @extend %grid-tablet--continuous; }

    .grid-mobile--row { @extend %grid-mobile--row; }

    .grid-mobile--col { @extend %grid-mobile--col; }

    .grid-mobile--continuous { @extend %grid-mobile--continuous; }

    .grid--row { @extend %grid--row; }

    .grid--col { @extend %grid--col; }

    .grid--continuous { @extend %grid--continuous; }

    @each $i in ('', -mobile, -tablet, -desktop) {

        @for $ii from 1 through 100 {
            .grid#{$i}__#{$ii}-of-100 {
                @extend %grid#{$i}__#{$ii}-of-100;
            }
        }

        @each $ii in (top, right, bottom, left) {

            .grid#{$i}--gutter-null-#{$ii} {
                @extend %grid#{$i}--gutter-null-#{$ii};
            }

            .grid#{$i}--gutter-sm-#{$ii} {
                @extend %grid#{$i}--gutter-sm-#{$ii};
            }

            .grid#{$i}--gutter-rg-#{$ii} {
                @extend %grid#{$i}--gutter-rg-#{$ii};
            }

            .grid#{$i}--gutter-md-#{$ii} {
                @extend %grid#{$i}--gutter-md-#{$ii};
            }

            .grid#{$i}--gutter-lg-#{$ii} {
                @extend %grid#{$i}--gutter-lg-#{$ii};
            }

            .grid#{$i}--gutter-xlg-#{$ii} {
                @extend %grid#{$i}--gutter-xlg-#{$ii};
            }
        }
    }
