%typography {

  ul {
    position: relative;
    li {
      margin-bottom: 10px;
    }
  }

  position: relative;
  font-size: 18px;
  strong {
    font-weight: 700;
  }
  p {
    padding-bottom: 15px;
    margin: 14px 0;
  }
  &--b2c {
    h1, h2, h3 {
      color: $orange;
    }
  }
  &--center {
    text-align: center;
  }
}

.typography { @extend %typography; }
.typography--b2c { @extend %typography--b2c; }

%note {
  color: grey;
}

.note { @extend %note; }
.typography--center { @extend %typography--center; }
