%facebook {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  %facebook__header {
    background-image: none;
		background-color: $facebook-blue;
  }
  %facebook__details {
    position: relative;
    top: 30%;
    width: 75%;
    margin: 0 auto;
    p {
      margin: 0;
    }
    a {
      color: $facebook-blue;
    }
  }
  %facebook__profile-image {
    width: 80%;
    margin: 0 auto;
  }
  %facebook__footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 5px 10px;
  }
  %facebook__action {
    margin: 0;
    .col {
      padding: 0 .25rem
    }
  }
}

.facebook { @extend %facebook; }
.facebook__details { @extend %facebook__details; }
.facebook__header { @extend %facebook__header; }
.facebook__profile-image { @extend %facebook__profile-image; }
.facebook__footer { @extend %facebook__footer; }
.facebook__action { @extend %facebook__action; }
