/*---------------------------------------------*\
 *    name: blog-archive
 *    extends:
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    @include keyframes (hide) {
        100% {
            opacity: 0;
        }
    };

    @include keyframes (show) {
        100% {
            opacity: 1;
        }
    };

    %break-line {
        bottom:auto;
        left: auto;
        top: auto;
        bottom:initial;
        left: initial;
        top: initial;
        background-color: #e8e8e8;
        border: none;
        height: 1px;
    }

    %blog-archive
    {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        height: auto;
        background-color: white;

        %blog-archive__filters
        {
            padding: 0 25px;
        }
        %blog-archive__apply-filters {
            @extend %btn;
            background-color: #717171;
            color: white;
            svg {
                fill: white;
                width: 8px;
                height: 8px;
            }
        }
        %blog-archive__clear-filters {
            background-color: #d4d4d4;
            @extend %btn;
            color: #717171;
        }

        %blog-archive__filter {
            box-sizing: border-box;
        }

        %blog-archive__clear-all-filters {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
        }

        %blog-archive__apply-filters,
        %blog-archive__clear-filters
        {
            font-size: 13px;
            width: 100%;
            text-transform: uppercase;
            padding: 5px 15px;
            display: none;
            @include mobile()
            {
                display: block;
            };
            font-weight: bold;
            text-align: center;
        }
        %blog-archive__matches
        {
            display: none;
        }
        %blog-archive__num-posts
        {
            color: #9bc0e1;
        }

        %blog-archive__results
        {
            @include mobile() {
                padding: 0 15px;
            };

            &--loading
            {
                %articles
                {
                    opacity: 0;
                }
            }
            &--loaded
            {
                %articles
                {
                    opacity: 1;
                }
            }
            &--matches
            {
                %blog-archive__matches
                {
                    display: block;
                }
            }
            &--no-matches
            {
                %blog-archive__matches
                {
                    display: block;
                }
            }
        }

        %articles
        {
            @include transition( .5s opacity ease );
            %articles__article
            {
                p, a {
                    font-size: 15px;
                    padding: 0;
                    text-decoration: none;
                    color: #415361;
                    font-weight: normal;
                }
                a, %date
                {
                    text-decoration: none;
                }
                %date {
                    color: #9bc0e1;
                }
            }
            hr {
                left: initial; right: initial;
                top: initial; bottom: initial;
                border-color: #e8e8e8;
            }

        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .blog-archive { @extend %blog-archive; }
    .articles { @extend %articles; }
    .break-line { @extend %break-line; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .articles__article { @extend %articles__article; }
    .blog-archive__results { @extend %blog-archive__results; }
    .blog-archive__apply-filters { @extend %blog-archive__apply-filters; }
    .blog-archive__clear-filters { @extend %blog-archive__clear-filters; }
    .blog-archive__clear-all-filters { @extend %blog-archive__clear-all-filters; }
    .date { @extend %date; }
    .blog-archive__filters { @extend %blog-archive__filters; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .blog-archive__results--matches { @extend %blog-archive__results--matches; }
    .blog-archive__num-posts { @extend %blog-archive__num-posts; }
    .blog-archive__results--no-matches { @extend %blog-archive__results--no-matches; }
    .blog-archive__results--loading { @extend %blog-archive__results--loading; }
    .blog-archive__results--loaded { @extend %blog-archive__results--loaded; }
