/*---------------------------------------------*\
*    button--load-more.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
    %btn--load-more {
        @extend %btn--text;
        padding-top: 30px;
        svg {
          bottom: 10px;
          left:0;
          right:0;
          margin: auto;
          width: 20px;
          height: auto;
        }
        %btn__text {
          font-size:1.7rem;
            color: $silverTree;
            text-decoration: underline;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/


/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/


/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/


.btn--load-more { @extend %btn--load-more; }
