/*---------------------------------------------*\
*    button--text.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %btn--text {
      position: relative;
        svg {
            position: absolute;
            top:0;
            bottom:0;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .btn {
        @extend %btn;
    }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .btn--text {
       @extend %btn--text;
    }
