{# _templates/app.twig #}

{#
   Single Post Page
   @param {Post Object} post
#}

{# Parameters #}
{% set appPost = post ?? null %}
{% set appFooter = footer ?? null %}
{% set appHeader = header ?? null %}

{# Variables #}
{% set appAttrs = { post_type: appPost.post_type, post_id: appPost.ID, parent_id: function("wp_get_post_parent_id", appPost.id) } %}

{# Output #}
{% extends '_templates/global.twig' %}

{% block main %}

   {% if appPost %}

      {% import 'macros.twig' as mcro %}

      {% if request_body.ajax != 1 %}
         {% include '_molecules/loading-screen/loading-screen.twig' %}
         {% include ['_app/_organisms/header/header.twig', '_components/_organisms/header/header.twig' ] with { menu: appHeader.menu } %}
      {% endif %}

      {% set appInnerHTML %}

         <div class="wrap">

            {% block app %}

            {% endblock %}

         </div>

         {% block after_app %}
         {% endblock %}

      {% endset %}

      {{ mcro.createHTMLTag( 'main', appAttrs, appBem, appInnerHTML ) }}

      {% if appFooter and request_body.ajax != 1 %}

         {% include ['_app/_organisms/footer/footer.twig', '_organisms/footer/footer.twig'] %}

      {% endif %}

   {% endif %}

{% endblock %}
