
{% embed '_atoms/content/anchor.twig' with { anchor_link: google_map_query_string, target: '_blankkk' } %}
	{% block link_block %}
	<div class="address {{ classname }}">
		{% block address_lines %}
			{% for item in address %}
				<div class="address__line {{small ? 'smaller': ''}}"> {{ item.line }} </div>
			{% endfor %}
		{% endblock %}
	</div>
	{% endblock %}
{% endembed %}
