{# list.twig #}

{% import 'bem.twig' as bemify %}
{% set classname = bemify.bem(bem) %}
{% set classname_item = bemify.bem(bem_item) %}


{% if items %}

   {% if ordered == true %}
      <ol class="{{ classname }}">
   {% else %}
      <ul class="{{ classname }}">
   {% endif %}

      {% for item in items %}

         <li class="{{ classname_item }}">

            {% block list__item %}
               {{attribute(item, attribute)}}
            {% endblock %}

         </li>

      {% endfor %}

   {% if ordered == true %}
      </ol>
   {% else %}
      </ul>
   {% endif %}

{% endif %}
