{% import 'bem.twig' as bemify %}
{% set classname = bemify.bem(bem) %}


{% set attrs = [ {name: 'data', value: '1'}, {name: 'data', value: '1'} ] %}
{% for item in attrs %}
   {% set attrs_str = name ~ '="' ~ value ~ '" ' %}
{% endfor %}

<span class="{{ classname }}" {{ attributes ? attributes : '' }}>
   {% block content %}
      {{span_text}}
   {% endblock %}
</span>
